<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xd.zt.mapper.algorithm.AlgorithmDebugMapper">
    <!--查询所有算法-->
    <select id="selectAlgorithm" resultType="Algorithm">
    SELECT * FROM `algorithm`
    </select>
    <select id="selectAlgorithmCommon" resultType="Algorithm" parameterType="String">
    SELECT * FROM `algorithm` WHERE algorithmlabel="行业通用"
    </select>
    <select id="selectAlgorithmProcess" resultType="Algorithm" parameterType="String">
    SELECT * FROM `algorithm` WHERE algorithmlabel="行业专用"
    </select>
    <select id="selectAlgorithmLogical" resultType="Algorithm" parameterType="String">
    SELECT * FROM `algorithm` WHERE algorithmlabel="人工智能"
    </select>


    <select id="selectAlgorithmById" parameterType="Integer" resultType="Algorithm">
    SELECT * FROM `algorithm` WHERE algorithmid = #{algorithmid}
    </select>
    <select id="searchAlgorithm" parameterType="String" resultType="Algorithm">
    SELECT * FROM `algorithm` WHERE algorithmname LIKE CONCAT('%',CONCAT(#{searchcontent},'%'))
    </select>

    <delete id="deleteAlgorithm" parameterType="String">
        DELETE FROM `algorithm` WHERE algorithmid = #{algorithmid}
    </delete>

    <insert id="saveAlgorithm" parameterType="Algorithm">
    INSERT INTO algorithm(algorithmname,algorithmtype,algorithmdescribe,algorithmlabel,algorithmtime,algorithmversion,algorithmparamsinput,algorithmparamscontent,algorithmparamsoutput,algorithmpath,algorithmman)
    VALUES(#{algorithmname},#{algorithmtype},#{algorithmdescribe},#{algorithmlabel},#{algorithmtime},#{algorithmversion},#{algorithmparamsinput},#{algorithmparamscontent},#{algorithmparamsoutput},#{algorithmpath},#{algorithmman})
    </insert>
    <!--在线代码编辑-->
    <insert id="insertAlgorithm" parameterType="Algorithm" useGeneratedKeys="true" keyProperty="id">
       insert into Algorithm values (null,#{algorithmname},null,null,null,null,null,null,null,null,#{algorithmpath},null);
    </insert>
    <!--&lt;!&ndash;查询所有模型&ndash;&gt;-->
    <!--<select id="selectAlgorithmModel" resultType="AlgorithmModel">-->
            <!--SELECT * FROM algorithmmodel-->
    <!--</select>-->

    <!--<select id="deleteAlgorithmModel" parameterType="String">-->
        <!--DELETE FROM algorithmmodel WHERE algorithmmodelid = #{algorithmmodelid}-->
    <!--</select>-->

    <!--<select id="selectAlgorithmModelById" parameterType="Integer" resultType="AlgorithmModel">-->
    <!--SELECT * FROM algorithmmodel WHERE algorithmmodelid = #{algorithmmodelid}-->
    <!--</select>-->

</mapper>
