<!DOCTYPE html>

<html lang="en"       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="/zthtml/css/Datacages_Homeindex.css" rel="stylesheet" type="text/css"/>
    <link href="/zthtml/css/ProgressBarWars.css" rel="stylesheet" />
    <style type="text/css">
        *{padding: 0;margin: 0}
        .loadEffect{  width: 100px;  height: 100px;  position: relative;  margin: 0 auto; top: 26%}
        .loadEffect span{animation: load 1.04s ease infinite;  display: inline-block;  width: 30px;  height: 10px;  border-top-left-radius: 5px;  border-bottom-left-radius: 5px;  background: lightgreen;  position: absolute;   }
        .loadEffect span:nth-child(1){  left: 0;  top: 50%;  margin-top:-5px;  animation-delay:0.13s;  }
        .loadEffect span:nth-child(2){  left: 10px;  top: 20px;  transform: rotate(45deg);  animation-delay:0.26s;  }
        .loadEffect span:nth-child(3){  left: 50%;  top: 10px;  margin-left: -15px;  transform: rotate(90deg);  animation-delay:0.39s;  }
        .loadEffect span:nth-child(4){  top: 20px;  right:10px;  transform: rotate(135deg);  animation-delay:0.52s;  }
        .loadEffect span:nth-child(5){  right: 0;  top: 50%;  margin-top:-5px;  transform: rotate(180deg);  animation-delay:0.65s;  }
        .loadEffect span:nth-child(6){  right: 10px;  bottom:20px;  transform: rotate(225deg);  animation-delay:0.78s;  }
        .loadEffect span:nth-child(7){  bottom: 10px;  left: 50%;  margin-left: -15px;  transform: rotate(270deg);  animation-delay:0.91s;  }
        .loadEffect span:nth-child(8){  bottom: 20px;  left: 10px;  transform: rotate(315deg);  animation-delay:1.04s;  }
        @keyframes load{
            0%{
                opacity: 1;
            }
            100%{
                opacity: 0.2;
            }
        }
        html,body{width: 100%;height: 100%}
        #loading{background-color: #181e20;opacity: 0.5;width: 100%;height: 100%;position: fixed;z-index: 999}
    </style>
   <script src="/zthtml/js/jquery.js"></script>
    <script src="/zthtml/js/echarts-all.js"></script>
    <script src="/zthtml/js/ProgressBarWars.js"></script>
    <style>
        *{padding: 0;margin: 0}
        .progress{
            margin-top: 30px;
        }
        .down_span{color: #dfdede;font-size: 12px;font-weight: lighter}
        h3,ul,li{margin:0;padding:0; list-style:none;}
        .scrollbox{ width: 268px; margin: 0 auto;  }
        #scrollDiv{width:268px;height:280px; overflow:hidden;}/*这里的高度和超出隐藏是必须的*/
        #scrollDiv ul li{height:66px; width:259px; ;background-color: #07325e; overflow:hidden; margin-bottom: 4px;color: #dfdede;font-size: 14px;padding: 0 9px 0 9px;line-height: 30px;position: relative}
        #scrollDiv ul li span{position: absolute;bottom:5px;right: 16px;display: block;width: 68px;height: 18px;text-align: center;color: #081e49;background-color: #69c200;line-height: 18px}
.sent-div{
    width: 98%;
    height: 98%;
    margin: 0 auto;

}

    </style>


    <title>“城市地下空间工程大数据分析平台”---西安市中铁一局大数据分析平台子平台</title>
</head>
<body>
<div id="loading">
    <div class="loadEffect">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--标题栏-->
<div class="Hometitlebox">
    <a style=" color: #00e4ff;" href="/ZT">城市地下空间工程大数据智能分析平台</a>
</div>
<div style="color: white; margin-top: -2%;margin-left: 78%;" th:if="${UserName} != ''" th:text="'欢迎您：'+${UserName}"></div>
<!--<div style="color: white; margin-top: -2%;margin-left: 78%;" th:if="${sysUser} == null" th:text="'欢迎您：'"></div>-->
<a id="getLogParam" href="/sso/getLogParam"><input class="btn btn-success radius" type="button" style="position: absolute;
    margin-top: -1.1%;
    margin-left: 89%;
    width: 5%;" value="注销" onclick="cleanToken()"/></a>
<!--动效显示-->
<div class="flasheffectoutbox">

    <div style="width: 1000px; height: 500px; position: relative">
        <div class="line2 line"></div>
        <div class="line3 line"></div>
        <div class="line4 line"></div>
        <div class="line5 line"></div>
        <div class="line6 line"></div>

        <!--主动效-->
        <div class="maineffectoutbox circleeffectclass" >

            <img class="effectposition maindataeffect" src="/zthtml/img/maindataeffect.png">
            <div class="effectposition acrossremindeffectout" style=" width: 76px; height: 76px; margin: 9px;">
                <div class="acrossremindeffectin" style="width: 68px; height: 68px; margin: 4px;"></div>
            </div>
            <img class="effectposition maindataspecialeffect" src="/zthtml/img/maindataspecialeffect.png">
            <img class="effectposition acrossremindeffecindex" src="/zthtml/img/maindataicon.png"   onclick= "window.location.href='/ZT';">
            <span class="stagetitle">大数据分析平台</span>

        </div>
        <!--卫星动效-->
        <div class="circleeffectclass aroundfunctioneffect" style="left: 254px;top: 135px;">
            <img class="effectposition arounddataeffect02" src="/zthtml/img/aroundeffect.png">
            <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                <div class="acrossremindeffectin acrossremindeffectinard"></div>
            </div>
            <img class="effectposition acrossremindeffecindex" src="/zthtml/img/xingzhengshenpi.png"    onclick= "window.location.href='/dataManager/index';">
            <span class="stagetitle stagearoundtitle">数据集成</span>
        </div>

        <div class="circleeffectclass aroundfunctioneffect" style="left: 190px;bottom: 89px;"   onclick="window.open('http://10.101.201.173/spp')">
            <img class="effectposition arounddataeffect01" src="/zthtml/img/aroundeffect.png">
            <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                <div class="acrossremindeffectin acrossremindeffectinard"></div>
            </div>
            <img class="effectposition acrossremindeffecindex" src="/zthtml/img/baixingpaiAPP.png"  >
            <span class="stagetitle stagearoundtitle">服务封装</span>
        </div>

        <div class="circleeffectclass aroundfunctioneffect" style="right: 405px;bottom: 53px;" onclick= "window.location.href='/algorithm/index';">
            <img class="effectposition arounddataeffect02" src="/zthtml/img/aroundeffect.png">
            <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                <div class="acrossremindeffectin acrossremindeffectinard"></div>
            </div>
            <img class="effectposition acrossremindeffecindex" src="/zthtml/img/zhatuyunshu.png"   >
            <span class="stagetitle stagearoundtitle">算法库</span>
        </div>

        <div class="circleeffectclass aroundfunctioneffect" style="right: 243px;bottom: 165px;">
            <img class="effectposition arounddataeffect01" src="/zthtml/img/aroundeffect.png">
            <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                <div class="acrossremindeffectin acrossremindeffectinard"></div>
            </div>
            <img class="effectposition acrossremindeffecindex" src="/zthtml/img/12319rexian.png"      onclick= "window.location.href='/returnhome';">
            <span class="stagetitle stagearoundtitle">建模工具</span>
        </div>

        <div class="circleeffectclass aroundfunctioneffect" style="right: 294px;top: 79px;">
            <img class="effectposition arounddataeffect03" src="/zthtml/img/aroundeffect.png">
            <div class="effectposition acrossremindeffectout acrossremindeffectoutard">
                <div class="acrossremindeffectin acrossremindeffectinard"></div>
            </div>
            <img class="effectposition acrossremindeffecindex" src="/zthtml/img/zonghezhifa.png"   onclick= "window.location.href='/model/index';">
            <span class="stagetitle stagearoundtitle">模型库</span>
        </div>

        <div class="circleeffectclass decarround01" style="top: 218px;left: 92px;">
            <div class="acrossremindeffectin decarroundin01" style=" "></div>
        </div>
        <div class="circleeffectclass decarround01" style="top: 197px;right: 163px;">
            <div class="acrossremindeffectin decarroundin01" style=" "></div>
        </div>
        <div class="circleeffectclass decarround02" style="top: 99px;right: 93px;">
            <div class="acrossremindeffectin decarroundin02" style=" "></div>
        </div>
    </div>
</div>


<!--弹出功能-->
<div class="popuofunxtionbox">
    <!--标题-->
    <div class="popupboxtitlebox">
        <span class="popupboxtitlemsg">xxxx审批系统数据分析</span>
        <div class="popupboxclose"></div>
    </div>
</div>

<!--侧边浮窗-->
<div class="fltoutbox leftbox">
    <div style="height: 65px; padding-top: 25px;">
        <span class="analyzedatashowtitle">【内存占比】</span>
    </div>
    <!--左上分析内容放置框-->
    <div class="analyzemsgbgbox" style=" margin-left: 2px;">


     <div class="sent-div" id="container1"></div>
    </div>
    <!--左下分析内容放置框-->
    <div class="analyzemsgbgbox" style="margin-top: 20px; height: 350px;overflow: hidden;">
        <span class="analyzedatashowtitle" style="line-height: 66px;margin-left: 38px">【业务模型概览】</span>
        <div class="scrollbox">

            <div id="scrollDiv">

                <ul    >

                    <li      th:each="businessModels:${businessModels}"   th:text="${businessModels.businessname}"  >
                        <span  ></span>
                    </li>

                 <!--   <li>道具刀盘业务
                        <span style="">1个文档</span>
                    </li>
                    <li>安全评价分析业务
                        <span style="">1个文档资料</span>
                    </li>
                    <li>地面沉降业务
                        <span style="">2个文档资料</span>
                    </li>
                    <li>轴线偏差智能报警及预测分析
                        <span style="">2个文档资料</span>
                    </li>
                    <li>规划选线分析
                        <span style="">1个文档资料</span>
                    </li>-->
                </ul>
            </div>
            <script type="text/javascript">
                    $("#scrollDiv").Scroll({line:1,speed:500,timer:5000,up:"but_up",down:"but_down"});
            </script>
        </div>
        </div>
        <div class="fltdecarround fltdecarroundleft fltdecarroundtop"></div>
        <div class="fltdecarround fltdecarroundtop fltdecarroundright "></div>
        <div class="fltdecarround fltdecarroundleft fltdecarroundbottom"></div>
        <div class="fltdecarround fltdecarroundbottom fltdecarroundright "></div>
    </div>

</div>

<div class="fltoutbox rightbox">
    <div style="height: 36px; padding-top: 25px;">
        <span class="analyzedatashowtitle">【算法库】</span>
    </div>
    <!--右上分析内容放置框-->
    <div class="analyzemsgbgbox " style=" margin-right: 2px;padding-bottom: 29px">
        <div style="background-color: #022542;opacity: 0.9;height: 130px">
            <div style="padding: 10px 0 0 16px">
            <div class="l_left"><span style="color: #dfdede;font-size: 10px;margin-right: 10px">行业通用：</span></div>
            <div class="progress l_left" id="vaderSize" style="width: 150px;padding: 0;margin-top: 6px;"></div>




            <script  th:inline="javascript">




                $(function(){

                    // var number =[];
                    var number=document.getElementById("jsvalue").value;

                 /*   var number ="${algorithmListGeneral.size()}/${algorithmListAll.size()}"*/
                    $("#vaderSize").ProgressBarWars1({porcentaje:number,estilo:"vader",tiempo:5980,alto:"8px",flag:true});
                    /* setInterval(function(){
                         number = Math.floor(Math.random()*99 + 1);
                         $("#vaderSize1").ProgressBarWars1({porcentaje:number,estilo:"vader1",tiempo:5980,alto:"30px",flag:false});
                     },5000);
               */  });
            </script>
            <div class="l_left"><span style="color: #dd9809;margin-left: 4px;font-size: 10px"  th:text="${algorithmListGeneral.size()}+'个'"></span></div>
                <div class="clear"></div>
                <input type="text" id="jsvalue"  th:value="(${algorithmListGeneral.size()}/${algorithmListAll.size()})*100"  style="display: none">
        </div>
            <div style="padding: 8px 0 0 16px">
                <div class="l_left"><span style="color: #dfdede;font-size: 10px;margin-right: 10px">行业专用：</span></div>
                <div class="progress l_left" id="vaderSize1" style="width: 150px;margin-top: 6px;"></div>
                <script>


                    $(function(){
                        var number1=document.getElementById("jsvalue1").value;
                        $("#vaderSize1").ProgressBarWars1({porcentaje:number1,estilo:"vader1",tiempo:5980,alto:"8px",flag:true});
                       /* setInterval(function(){
                            number = Math.floor(Math.random()*99 + 1);
                            $("#vaderSize1").ProgressBarWars1({porcentaje:number,estilo:"vader1",tiempo:5980,alto:"30px",flag:false});
                        },5000);
                  */  });
                </script>
                <div class="l_left"><span style="color: #00d8ff;margin-left: 4px;font-size: 10px"   th:value="${algorithmListSpecial.size()}" th:text="${algorithmListSpecial.size()}+'个'"></span></div>
                <div class="clear"></div>
                <input type="text" id="jsvalue1"  th:value="(${algorithmListSpecial.size()}/${algorithmListAll.size()})*100"  style="display: none">
            </div>
            <div style="padding: 8px 0 0 16px">
                <div class="l_left"><span style="color: #dfdede;font-size: 10px;margin-right: 10px">人工智能：</span></div>
                <div class="progress l_left" id="vaderSize2" style="width: 150px;margin-top: 6px;"></div>
                <script>

                    $( function()  {
                        var number2=document.getElementById("jsvalue2").value;
                        $("#vaderSize2").ProgressBarWars2({porcentaje:number2,estilo:"vader2",tiempo:5980,alto:"8px",flag:true});})
                 /*   $( function() {

                        $("#vaderSize2").ProgressBarWars2({porcentaje:22,estilo:"vader2",tiempo:5980,alto:"8px",flag:true});
                    })*/


                 /*   $(function(){
                        var number = document.getElementById("${algorithmListIntelligence.size()}");
                        $("#vaderSize2").ProgressBarWars2({porcentaje:number,estilo:"vader2",tiempo:5980,alto:"8px",flag:true});
                        /!*setInterval(function(){
                            number = Math.floor(Math.random()*99 + 1);
                            $("#vaderSize2").ProgressBarWars2({porcentaje:number,estilo:"vader2",tiempo:5980,alto:"30px",flag:false});
                        },5000);*!/
                    })*/;
                </script>
                <div class="l_left"><span style="color: #56a4ff;margin-left: 4px;font-size: 10px" th:id="${algorithmListIntelligence.size()}"  th:text="${algorithmListIntelligence.size()}+'个'"  onload="removeTitle(this.id)"></span></div>
                <div class="clear"></div>
                <input type="text" id="jsvalue2"  th:value="(${algorithmListIntelligence.size()}/${algorithmListAll.size()})*100"  style="display: none">
            </div>
            <!--<div style="padding: 8px 0 0 16px">
                <div class="l_left"><span style="color: #dfdede;font-size: 10px;margin-right: 10px">人员四：</span></div>
                <div class="progress l_left" id="vaderSize3" style="width: 150px;margin-top: 6px;"></div>
                <script>
                    var number = 90;
                    $(function(){
                        $("#vaderSize3").ProgressBarWars3({porcentaje:30,estilo:"vader3",tiempo:5980,alto:"8px",flag:true});
                        setInterval(function(){
                            number = Math.floor(Math.random()*99 + 1);
                            $("#vaderSize3").ProgressBarWars3({porcentaje:number,estilo:"vader3",tiempo:5980,alto:"8px",flag:false});
                        },5000);
                    });
                </script>
                <div class="l_left"><span style="color: #56ff6a;margin-left: 4px;font-size: 10px">651人</span></div>
                <div class="clear"></div>
            </div>-->

        </div>
        <div>
            <p style="color: #dfdede;font-size: 14px;margin: 22px 0 0 17px ">【总计算法】</p>
            <div class="progress l_left" id="vaderSize4" style="width: 200px;padding: 0;margin: 40px 0 0 18px;"></div>

                <!--<script>

                $( function()  {
                    var number3=document.getElementById("jsvalue3").value;
                    $("#vaderSize4").ProgressBarWars2({porcentaje:number3,estilo:"vader4",tiempo:5980,alto:"15px",flag:true});})
                /*   $( function() {

                       $("#vaderSize2").ProgressBarWars2({porcentaje:22,estilo:"vader2",tiempo:5980,alto:"8px",flag:true});
                   })*/


                /*   $(function(){
                       var number = document.getElementById("${algorithmListIntelligence.size()}");
                       $("#vaderSize2").ProgressBarWars2({porcentaje:number,estilo:"vader2",tiempo:5980,alto:"8px",flag:true});
                       /!*setInterval(function(){
                           number = Math.floor(Math.random()*99 + 1);
                           $("#vaderSize2").ProgressBarWars2({porcentaje:number,estilo:"vader2",tiempo:5980,alto:"30px",flag:false});
                       },5000);*!/
                   })*/;
            </script>
-->

            <div class="l_left" style="color: #ffea00;margin: -18px 10px 10px 10px;font-size: 20px;margin-left: 35%" ><span   th:text="'共'+${algorithmListAll.size()}+'个算法'">></span></div>
        </div>


        <input type="text" id="jsvalue3"  th:value="${algorithmListAll.size()}"  style="display: none">


        <div class="fltdecarround fltdecarroundleft fltdecarroundbottom"></div>
        <div class="fltdecarround fltdecarroundbottom fltdecarroundright "></div>
    </div>
    <!--右下分析内容放置框-->
    <div class="analyzemsgbgbox" style="margin-top: 20px; height: 350px;">
        <span class="analyzedatashowtitle">【模型库】</span>
        <div style="margin: 0 6px;background-color: #011c2f;opacity: 0.8;padding:8px 0 6px 0">
            <div>
                <div><span class="down_span">【勘察设计】</span><span style="color:#dfdede;font-size: 10px;margin-left: 140px; font-weight: lighter;"></span></div>
                <div style="margin: 5px 0 4px 12px;">
                <div class="progress l_left" id="vaderSize5" style="width: 190px;padding: 0;margin-top: 4px"></div>
                <script>
                    $( function(){
                    var number4=document.getElementById("jsvalue4").value;
                        $("#vaderSize5").ProgressBarWars5({porcentaje:number4,estilo:"vader5",tiempo:5980,alto:"8px",flag:true});})

                </script>
                  <!--  th:text="(${algorithmListIntelligence.size()}/${algorithmListAll.size()})*100+'%'";-->
                    <input type="text" id="jsvalue4"  th:value="${programmeList.size()}"  style="display: none">
                <div><span class=" l_left" style="margin-left: 12px;color:#40e315;font-size: 12px "      th:text="${programmeList.size()}+'个模型'" ></span></div>
                <div class="clear"></div>
                </div>
                <div><span class="down_span">【工程施工】</span><span style="color:#dfdede;font-size: 10px;margin-left: 140px; font-weight: lighter;"  ></span></div>
                <div style="margin: 5px 0 4px 12px;">
                <div class="progress l_left" id="vaderSize6" style="width: 190px;padding: 0;margin-top: 4px"></div>
                <script> $( function(){
                    var number5=document.getElementById("jsvalue5").value;
                        $("#vaderSize6").ProgressBarWars6({porcentaje:number5,estilo:"vader6",tiempo:5980,alto:"8px",flag:true});})
                </script>
                    <input type="text" id="jsvalue5"  th:value="${programmeList1.size()}"  style="display: none">
                <div><span class="l_left" style="margin-left: 12px;color:#15e3ac;font-size: 12px "  th:text="${programmeList1.size()}+'个模型'"></span></div>
                    <div class="clear"></div>
                </div>
                <div><span class="down_span">【运营维护】</span><span style="color:#dfdede;font-size: 10px;margin-left: 140px; font-weight: lighter;"></span></div>
                <div style="margin: 5px 0 4px 12px;">
                    <div class="progress l_left" id="vaderSize7" style="width: 190px;padding: 0;margin-top: 4px"></div>
                    <script> $( function(){
                        var number6=document.getElementById("jsvalue6").value;
                        $("#vaderSize7").ProgressBarWars7({porcentaje:number6,estilo:"vader7",tiempo:5980,alto:"8px",flag:true});})
                    </script>
                    <input type="text" id="jsvalue6"  th:value="${programmeList2.size()}"  style="display: none">
                    <div><span class="down_span l_left" style="margin-left: 12px;color:#1f9cff ;font-size: 12px"  th:text="${programmeList2.size()}+'个模型'"></span></div>
                    <div class="clear"></div>
                </div>
                <div><span class="down_span">【智慧城市】</span><span style="color:#dfdede;font-size: 10px;margin-left: 140px; font-weight: lighter;font-color:#1f9cff ;"  ></span></div>
                <div style="margin: 5px 0 4px 12px;">
                    <div class="progress l_left" id="vaderSize8" style="width: 190px;padding: 0;margin-top: 4px"></div>
                    <script>
                        $( function(){
                        var number7=document.getElementById("jsvalue7").value;
                        $("#vaderSize8").ProgressBarWars8({porcentaje:number7,estilo:"vader8",tiempo:5980,alto:"8px",flag:true});})
                    </script>
                    <input type="text" id="jsvalue7"  th:value="${programmeList3.size()}"  style="display: none">
                    <div><span class="down_span l_left" style="margin-left: 12px;color:#c97802;font-size: 12px "  th:text="${programmeList3.size()}+'个模型'" >30.77%</span></div>
                    <div class="clear"></div>
                </div>


                <!--<div><span class="down_span">【模型总数】</span><span style="color:#dfdede;font-size: 10px;margin-left: 108px; font-weight: lighter;">38个模型</span></div>
                <div style="margin: 5px 0 4px 12px;">
                    <div class="progress l_left" id="vaderSize9" style="width: 190px;padding: 0;margin-top: 4px"></div>
                    <script>
                        $("#vaderSize9").ProgressBarWars9({porcentaje:83,estilo:"vader9",tiempo:5980,alto:"8px",flag:true});
                    </script>
                    <div><span class=" l_left" style="margin-left: 12px;color:#72ff00;font-size: 12px ">11%</span></div>
                    <div class="clear"></div>
                </div>-->

               <!-- <div><span class="down_span">【xxx系统六】</span><span style="color:#dfdede;font-size: 10px;margin-left: 119px; font-weight: lighter;">1235</span></div>
                <div style="margin: 5px 0 4px 12px;">
                    <div class="progress l_left" id="vaderSize10" style="width: 190px;padding: 0;margin-top: 4px"></div>
                    <script>
                        $("#vaderSize10").ProgressBarWars10({porcentaje:6,estilo:"vader10",tiempo:5980,alto:"8px",flag:true});
                    </script>
                    <div><span class=" l_left" style="margin-left: 12px;color:#ef4503;font-size: 12px ">2.56%</span></div>
                    <div class="clear"></div>
                </div>-->


            </div>

        </div>

        <div class="fltdecarround fltdecarroundleft fltdecarroundtop"></div>
        <div class="fltdecarround fltdecarroundtop fltdecarroundright "></div>
        <div class="fltdecarround fltdecarroundleft fltdecarroundbottom"></div>
        <div class="fltdecarround fltdecarroundbottom fltdecarroundright "></div>
    </div>

</div>


<!--版权-->
<!--
<div class="copyrigntoutbox">
    <span   style="color: white">版权所有 中铁一局 2019。 保留一切权利。00000ICP号</span>
</div>
-->

</body>
<script type="text/javascript" th:inline="javascript">
    window.onload = function(){
        var loading = document.getElementById("loading");
        loading.style.display="none";
        if ([[${SessionId}]] == null || [[${SessionId}]].length == 0 || [[${SessionId}]] == undefined || [[${SessionId}]].indexOf("null") != -1) {
            window.location.href = "http://10.101.201.173:80/login";
        }
        var token = {
            "token":[[${token}]],
            "UserName":[[${UserName}]],
            "Status":[[${Status}]],
            "SessionId":[[${SessionId}]]
        };
        localStorage.setItem("easyweb",JSON.stringify(token));
    }
    function cleanToken() {
        localStorage.clear();
        DelCookie("ZNFX-SESSION-ID");
        window.location.href = "/sso/getLogParam";
    }
    function DelCookie(name) {
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        // var cval = GetCookie(name);
        document.cookie = name + "=" + cval + "; expires=" + exp.toGMTString();
    }
</script>
<script>

    var salesMyChart = echarts.init($("#container1")[0]);
    option = {




        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'内存占比',
                type:'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    {value:21.56, name:'算法库'},
                    {value:19.95, name:'建模工具'},
                    {value:17.63, name:'模型库'},
                    {value:15.12, name:'数据集成'},
                    {value:25.74, name:'服务封装'}
                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.5)'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };
    salesMyChart.setOption(option);

</script>
<!--<script type="text/javascript" th:inline="javascript">
    window.onload=function () {
        var a=document.getElementById("jsvalue").value;
        alert(a);
    }
</script>-->

</html>