<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript"  th:src="@{/static/lib/html5shiv.js}"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
	<!--[if IE 6]>
	<script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title></title>
</head>
<body>
<input type="hidden" th:value="${modelprocess}" id="proc_Elements"/>
<input type="hidden" th:value="${modelid}" id="modelid"/>
<input th:each="params:${params}" type="hidden" th:value="${params.algorithmparamsinput}" th:id="${params.algorithmname}+'/input'"/>
<input th:each="params:${params}" type="hidden" th:value="${params.algorithmparamscontent}" th:id="${params.algorithmname}+'/content'"/>
<input th:each="params:${params}" type="hidden" th:value="${params.algorithmparamsoutput}" th:id="${params.algorithmname}+'/output'"/>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 分析模型实例 <span class="c-gray en">&gt;</span> 新建分析模型实例  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" style="position: absolute;width: 97%;height: 90%;">

	<div class="panel panel-default" style="width: 97%;height: 43vh;float: left;margin-left: 2%;overflow-x:hidden;overflow-y:auto">
		<div class="panel-header">建立分析模型实例

			<a href="#"><input class="btn btn-primary radius" type="button" style="position: absolute;margin-top: -0.3%;right: 9%;" value="保存" onclick="jumpDialog()" /></a>
			<a th:href="@{'/analyse/exampleList/'+${modelid}}"><input class="btn btn-success radius" type="button" style="position: absolute;right: 4%;;margin-top:  -0.3%;" value="返回"/></a>
		</div>
		<div class="panel-body" id="model_content">

		</div>
	</div>


	<div class="panel panel-default" style="width: 33%;height: 43vh;float: left;margin-left: 2%;margin-top: 2%;">
		<div class="panel-header">数据包选择</div>
		<div id="databao" class="panel-body"  style="display:none;float: left; width: 98%;height: 80%;overflow-x:hidden;overflow-y:auto;">
			<!--<input class="btn btn-primary radius" type="button" style="position: absolute;margin-left: 1%" th:each="datamodelInfoList:${datamodelInfoList}" th:value="${datamodelInfoList.dataresultname}" th:id="${datamodelInfoList.dataaddr}" onclick="chooseData(this.id)" />-->
			<input th:each="datamodelInfoList:${datamodelInfoList}" class="btn btn-success radius" type="button" style="background-color: #0e90d2;margin-left: 2%;margin-top: 2%;"th:value="${datamodelInfoList.dataresultname}" th:id ="${datamodelInfoList.dataaddr}" onclick="selectData(this.id)" />
			<input th:each="analyseCsvList:${analyseCsvList}" class="btn btn-success radius" type="button" style="background-color: #0e90d2;margin-left: 2%;margin-top: 2%;"th:value="${analyseCsvList.csvname}" th:id ="${analyseCsvList.csvpath}" onclick="selectData(this.id)" />
		</div>
	</div>

	<div class="panel panel-default" style="width: 30%;height: 43vh;float: left;margin-left: 2%;margin-top: 2%;">
		<div class="panel-header">数据源配置</div>
		<!--<form method="post" class="loginForm" >-->
			<div class="panel-body" id="input_text" style="float: left; width: 98%;height: 80%;overflow-x:hidden;overflow-y:auto;">
		</div>
	</div>
	<div class="panel panel-default" style="width: 30%;height: 43vh;float: left;margin-left: 2%;margin-top: 2%;">
		<div class="panel-header">算法参数配置</div>
		<!--<form method="post" class="loginForm" >-->
		<div class="panel-body" id="content_text" style="float: left; width: 98%;height: 80%;overflow-x:hidden;overflow-y:auto;">
		</div>
	</div>

	<div class="panel panel-default" style="display:none;width: 30%;height: 43vh;float: left;margin-left: 2%;margin-top: 2%;">
		<div class="panel-header">输出配置</div>
		<!--<form method="post" class="loginForm" >-->
		<div class="panel-body" id="output_text" style="float: left; width: 98%;height: 80%;overflow-x:hidden;overflow-y:auto;">
		</div>
	</div>
	<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<!-- 弹出对话框 -->
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">分析模型实例保存</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true">×</a>
			</div>
			<div class="modal-body">
				<strong>名称：</strong><input type="text" placeholder="请输入分析模型实例名称" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" id="saveName">
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" onclick="save();">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>


</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    //获取
    $(document).ready(function(){
        get_Proc_Elements();
    });


    $(document).ready(function(){
        $('#choose').click(function(){
            $('#fileField').click();
        });

    });

    $(document).ready(function(){
        $('#choose1').click(function(){
            $('#fileField1').click();
        });

    });

	function get_Proc_Elements() {
        var proc_Elements = document.getElementById('proc_Elements').getAttribute("value");
        var proc_Elements_Arr = proc_Elements.split(';');
        for (var i = 0; i < proc_Elements_Arr.length; i++) {
            var proc_element = proc_Elements_Arr[i];
            add(proc_element);//实现按钮回显
            if (proc_element != '开始' && proc_element != '结束') {
                switchParam_form(proc_element);
            }
            else {
            }
        }
    }



    function jumpDialog() {
        $("#modal-demo").modal("show");
    }

    function save() {
        if(document.getElementById('saveName').value == ""){
            $.Huimodalalert('请输入保存名称',2000);
        }
        else {
            var modelid = document.getElementById('modelid').getAttribute('value');
            var algorithmname = document.getElementById('proc_Elements').getAttribute("value");
            var algorithmnameArr = algorithmname.split(';');
            var analyzmodelArr = "[]";
            var analyzmodelJsonArr = JSON.parse(analyzmodelArr);
            for (var i = 1; i < algorithmnameArr.length-1; i++) {
                var name = algorithmnameArr[i];
                inputObj = $('.'+name+'input').serializeObject();
                contentObj = $('.'+name+'content').serializeObject();
                outputObj = $('.'+name+'output').serializeObject();

                var params = {
                    "inputpath": inputObj,
					"content":contentObj,
					"outputpath":outputObj
				}
               var instance = {
              		"name" : name,
                	"params": params
               };
              analyzmodelJsonArr.push(instance);
			   }
			   var analyzmodel = JSON.stringify(analyzmodelJsonArr);
                }
            var examplename =  document.getElementById('saveName').value;
            var example ={
                "modelid": modelid,
                "examplename": examplename,
                "analyzmodel" : analyzmodel
            };
            $.ajax({
                async: false,
                type : "post",
                dataType: "json",
                contentType : 'application/json;charset=UTF-8',
                data: JSON.stringify(example),
                url : '/analyse/saveExample',
                success : function(data) {
                    if(data.code ==1){
                    $.Huimodalalert('保存成功',1000);}
                    else {
                        $.Huimodalalert('已存在实例名，请重新保存',1000);
					}

                    //传输成功后延时500ms跳转到模型列表
                    // window.setTimeout("window.location = '/'",1500);
                    //这两种写法都可以
                    /*window.setTimeout("window.location.href = '/modelList'",1500);*/
                }
            });


    }
//form表单生成jSON对象
    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [ o[this.name] ];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


    //初始化删除按钮
    function init() {
        $(".algorithm_elements").mouseenter(function () {
            $(this).find(".delete").show();

        });

        $(".algorithm_elements").mouseleave(function () {
            $(this).find(".delete").hide();
        });

        //执行删除操作
        $('.delete').click(function(){
            $(this).parent().parent().remove();
        })
    }


    //统计开始和结束个数
    function countStart(){
        var inputs_start = $("#model_content input[value='开始']");
        return inputs_start.length;
    }
    function countStop(){
        var inputs_stop = $("#model_content input[value='结束']");
        return inputs_stop.length;
    }


    //添加算法图标及信息,逻辑判断信息.此处由于用于回显，故注掉init(),屏蔽删除按钮
    function add(value){
        var num_start = countStart();
        var num_stop = countStop();
        if(num_start == 0 && value != '开始'){
            $.Huimodalalert('请先添加【开始】',2000);
        }
        else if(num_start >0 && value == '开始'){
            $.Huimodalalert('单个模型只能添一个【开始】',2000);
        }
        else if(num_stop >0){
            $.Huimodalalert('【结束】后不能再添加元素',2000);
        }
        else{
            // relation_detail(value);
            // switchParam_form(value);

            if(value != '结束'){
                $("#model_content").append("<div style = 'margin-right: 2%;margin-top: 10%;float:left' class = 'algorithm_elements'><input class='btn btn-success radius' type='button' value='"
                    + value
                    +"' onclick='switchParam(value);'/>"+"<a href='#'><img src='/temp/button-cross.png' class='delete' style='width: 20px;height: 20px;display: none;'/></a>"+"<i class='Hui-iconfont' style='padding-left: 20px;'>&#xe67a;</i></div>");
                // init();

            }
            else{
                $("#model_content").append("<div style = 'margin-right: 2%;margin-top: 10%;float:left' class = 'algorithm_elements'><input class='btn btn-success radius' type='button' value='"
                    + value
                    +"' onclick='switchParam(value);'/>"+"<a href='#'><img src='/temp/button-cross.png' class='delete' style='width: 20px;height: 20px;display: none;'/></a>"+"</div>");
                // init();
            }
        }
    }


function switchParam_form(value) {

	if (document.getElementById(value+"/input").getAttribute("value") != null && document.getElementById(value+"/input").getAttribute("value") != "") {
        var paramsArr = new Array();
        paramsArr.push("<div id='a" + value + "' style='display: none' class='paramsdiv'><form method='post' class='" + value + "input' >");
        var algorithmParams = document.getElementById(value + "/input").getAttribute("value");
        var algorithmParams_Arr = algorithmParams.split(';');
        for (var i = 0; i < algorithmParams_Arr.length; i++) {
            var param = algorithmParams_Arr[i];
            paramsArr.push("<div style='font-size:14px; font-weight:700;margin-left: 2%;margin-top: 2vh;'>" + param + "</div>" + "<input type='text' placeholder='请输入..' class='input-text ac_input' name='" + param + "' value='' id='"+ param +"path'autocomplete='off' style='width: 36%;margin-top: -5.5vh;margin-left: 38%;'>" +
				  		   "<input id='"+param+"' class='btn btn-success radius' type='button' onclick='showBaoData(this.id)' value='配置' style='margin-top: -9%;margin-left: 6%;'/>");
        }
        // paramsArr.push("<input type='hidden' placeholder='请输入..' class='input-text ac_input' name='"+"output"+"' value='data/output.csv' id='"+param+"' autocomplete='off' style='width: 36%;margin-top: -3.5vh;margin-left: 38%;'>");
        paramsArr.push("</form></div>");
        $("#input_text").append(paramsArr.join("\n"));
    }
    if (document.getElementById(value+"/content").getAttribute("value") != null && document.getElementById(value+"/content").getAttribute("value") != "") {
        var paramsArr1 = new Array();
        paramsArr1.push("<div id='b" + value + "' style='display: none' class='paramsdiv'><form method='post' class='" + value + "content' >");
        var algorithmParams1 = document.getElementById(value + "/content").getAttribute("value");
        var algorithmParams_Arr1 = algorithmParams1.split(';');
        for (var i = 0; i < algorithmParams_Arr1.length; i++) {
            var param1 = algorithmParams_Arr1[i];
            paramsArr1.push("<div style='font-size:14px; font-weight:700;margin-left: 2%;margin-top: 2vh;'>" + param1 + "</div>" + "<input type='text' placeholder='请输入..' class='input-text ac_input' name='" + param1 + "' value='' id='" + param1 + "' autocomplete='off' style='width: 36%;margin-top: -5.5vh;margin-left: 38%;'>");
        }
        // paramsArr.push("<input type='hidden' placeholder='请输入..' class='input-text ac_input' name='"+"output"+"' value='data/output.csv' id='"+param+"' autocomplete='off' style='width: 36%;margin-top: -3.5vh;margin-left: 38%;'>");
        paramsArr1.push("</form></div>");
        $("#content_text").append(paramsArr1.join("\n"));
    }
    if (document.getElementById(value+"/output").getAttribute("value") != null && document.getElementById(value+"/output").getAttribute("value") != "") {
        var paramsArr2 = new Array();
        paramsArr2.push("<div id='c" + value + "' style='display: none' class='paramsdiv1'><form method='post' class='" + value + "output' >");
        var algorithmParams2 = document.getElementById(value + "/output").getAttribute("value");
        var algorithmParams_Arr2 = algorithmParams2.split(';');
        for (var i = 0; i < algorithmParams_Arr2.length; i++) {
            var param2 = algorithmParams_Arr2[i];
            if (param2 == "modelPath") {
                paramsArr2.push("<div style='font-size:14px; font-weight:700;margin-left: 2%;margin-top: 2vh;'>" + param2 + "</div>" + "<input type='text' placeholder='请输入..' class='input-text ac_input' name='" + param2 + "' value='"+param2+"_for_"+value+"' id='" + param2 + "' autocomplete='off' style='width: 36%;margin-top: -5.5vh;margin-left: 38%;'>");
            }
            else if (param2 == "modelPaths") {
                paramsArr2.push("<div style='font-size:14px; font-weight:700;margin-left: 2%;margin-top: 2vh;'>" + param2 + "</div>" + "<input type='text' placeholder='请输入..' class='input-text ac_input' name='" + param2 + "' value='"+"' id='" + param2 + "' autocomplete='off' style='width: 36%;margin-top: -5.5vh;margin-left: 38%;'>");
            }
            else {
                paramsArr2.push("<div style='font-size:14px; font-weight:700;margin-left: 2%;margin-top: 2vh;'>" + param2 + "</div>" + "<input type='text' placeholder='请输入..' class='input-text ac_input' name='" + param2 + "' value='"+param2+".csv' id='" + param2 + "' autocomplete='off' style='width: 36%;margin-top: -5.5vh;margin-left: 38%;'>");

            }
        }
        // paramsArr.push("<input type='hidden' placeholder='请输入..' class='input-text ac_input' name='"+"output"+"' value='data/output.csv' id='"+param+"' autocomplete='off' style='width: 36%;margin-top: -3.5vh;margin-left: 38%;'>");
        paramsArr2.push("</form></div>");
        $("#output_text").append(paramsArr2.join("\n"));
    }
}
function switchParam(value) {
    $(".paramsdiv").hide(300);

    $("#a"+value).show(300);
    $("#b"+value).show(300);
}
    var data ;
    function showBaoData(id) {
        data = id;
        $("#databao").show(300);
        $.Huimodalalert('请点击数据源进行选择',3000);
    }
    function selectData(id) {
        document.getElementById(data+'path').setAttribute("value",id);
        $("#databao").hide(300);
        $.Huimodalalert('数据源添加成功',3000);
    }
</script>
<script type="text/javascript" th:inline="javascript">


</script>
</body>
</html>