<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>检索排序管理模块</title>
   <!-- <link rel="stylesheet" href="css/threeTwo.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 未知 <span class="c-gray en">&gt;</span> 文档资料 <span class="c-gray en">&gt;</span> 数据管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" >
    <div class="panel panel-default" style="height: 90vh">
        <div class="panel-header">数据管理
            <a th:href="@{'/data/modelReview/'+${modeid}}"><input class="btn btn-success radius" type="button" style="position: absolute;right: 4%;;margin-top:  -0.3%;" value="返回"/></a>
        </div>
        <div class="panel-body">
            <div >
                <!--实现模糊搜索-->
                <form method="get" action="#" th:action="@{/data/dataSearch}">
                    <input type="text" placeholder="请输入关键词" class="input-text ac_input" name="search_text" value=""
                           id="search_text" autocomplete="off" style="width:30%">
                    <button type="submit" class="btn btn-default" id="search_button">
                    搜索
                    </button>
                    &nbsp;&nbsp;&nbsp;【当前共&nbsp;&nbsp;<a th:text="${datamodelSourceList.size()}"></a>&nbsp;&nbsp;条数据】
                </form>
            </div>
            <div style="margin-top: 1%">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th >文件名称</th>
                        <th >文件大小</th>
                        <th >创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr class="text-c" th:if="${datamodelSourceList.size()} eq 0">
                            <td colspan="4">当前未上传数据</td>
                        </tr>

                        <tr class="text-c" th:each="datamodelSource:${datamodelSourceList}">
                            <td><a style="cursor:pointer" class="text-primary" th:text="${datamodelSource.sourcename}" th:href="@{'/data/fileReview/'+ ${datamodelSource.sourceid}}"></a></td>
                            <td th:text="${datamodelSource.sourcesize}"></td>
                            <td th:text="${datamodelSource.sourcetime}"></td>


                            <td>
                                <!--&lt;!&ndash;跳转modelView  实现模型打开&ndash;&gt;-->
                                <!--&lt;!&ndash;<a th:href="@{'/dataReview/'+ ${fileAndUpload.id}}"><input class="btn btn-primary size-MINI radius" type="button" value="打开"></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;跳转modelModify 实现模型修改&ndash;&gt;-->
                                <!--&lt;!&ndash;<a><input class="btn btn-primary size-MINI radius" type="button" value="修改"></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;请求后台modelDelete/{id} 实现模型删除&ndash;&gt;-->
                                <a th:href="@{'/data/fileDelete/'+ ${datamodelSource.sourceid}}">
                                    <input class="btn btn-primary size-MINI radius" type="button" value="删除">
                                </a>
                                <a th:href="@{'/data/fileDown/'+ ${datamodelSource.sourceid}}">
                                    <input class="btn btn-primary size-MINI radius" type="button" value="下载">
                                </a>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

</body>
</html>

