	<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript"  th:src="@{/static/lib/html5shiv.js}"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
	<!--[if IE 6]>
	<script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title>图片列表</title>
</head>
<body>
	<input type="hidden" th:value="${modelid}" id="modelid"/>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>数据包 <span class="c-gray en">&gt;</span> 数据包构建  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" style="position: absolute;width: 97%;height: 90%;">
	<div class="panel panel-default" style="width: 30%;height: 43vh;float: left;">
		<div class="panel-header">数据块</div>
		<div class="panel-body">

			<input th:each="datamodelBlockList:${datamodelBlockList}" class="btn btn-success radius" type="button" style="float:left;margin-left: 2%;margin-top: 2%;" th:id="${datamodelBlockList.getBlockid()}" th:value="${datamodelBlockList.getBlockname()}" onclick="showDataSource(this.id)"/>
		</div>
	</div>

	<div class="panel panel-default" style="width: 67%;height: 43vh;float: left;margin-left: 2%;">
		<div class="panel panel-default" style="height: 100%;width: 100%;" id="CsvTable">
			<div class="panel-header">
				数据预览&nbsp;&nbsp;&nbsp;&nbsp;
				数据名称：<span id="dataName"></span>&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn btn-success radius" id="addData" data-dismiss="modal" style="position: absolute;right: 4%;;margin-top:  -0.3%;" onclick="addData(this.value);">确定</button>
			</div>

			<div class="panel-body" id="dataTable" style="height: 81%;overflow-x: hidden;overflow-y: auto;">
				<div style="width:100%">
					<p id="content" class="text-c"></p>
					<table class="table table-border table-bordered table-hover">
						<thead id="table_head" class="text-c skin-minimal"></thead>

						<tbody id="table_body" class="text-c"></tbody>
					</table>
				</div>

			</div>
		</div>
	</div>

	<!--数据源选择-->
	<div class="panel panel-default" style="width: 30%;height: 43vh;float: left;margin-top: 2%;">
		<div class="panel-header">数据块结果</div>
		<div class="panel-body" id="datasource" style="float: left; width: 92%;height: 80%;overflow-x:hidden;overflow-y:auto;">
			<div th:each="datamodelInfo:${datamodelInfoList}" th:id="${datamodelInfo.getDatablock()+20}" style="display: none">
				<input class="btn btn-success radius" type="button" style="float:left;margin-left: 2%;margin-top: 2%;" th:id="${datamodelInfo.getDatablock()}"
				th:value="${datamodelInfo.getDataresultname()}" onclick="datasource(this.id,this.value)"/>
			</div>
		</div>
	</div>

	<div class="panel panel-default" style="width: 67%;height: 43vh;float: left;margin-left: 2%;margin-top: 2%;">
		<div class="panel panel-default" style="height: 100%;width: 100%;" id="CsvTable">
			<div class="panel-header">
				数据预览&nbsp;&nbsp;&nbsp;&nbsp;
				<input class="btn btn-success radius" type="button" style="position: absolute;right: 8%;;margin-top:  -0.3%;" value="保存" onclick="jumpDialog()"/>
				<button class="btn btn-success radius" data-dismiss="modal" style="position: absolute;right: 4%;;margin-top:  -0.3%;" onclick="dataFreshen();"><i class="Hui-iconfont">&#xe68f;</i></button>
			</div>

			<div class="panel-body" id="dataTable" style="height: 81%;overflow-x:hidden;overflow-y:auto">
				<div style="width:100%">
					<p id="content" class="text-c"></p>
					<table class="table table-border table-bordered table-hover">
						<thead id="select_table_head" class="text-c skin-minimal"></thead>

						<tbody id="select_table_body" class="text-c"></tbody>
					</table>
				</div>

			</div>
		</div>
		<div class="panel-body" id="model_content">
		</div>

	</div>
</div>
	<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<!-- 弹出对话框 -->
		<div class="modal-dialog">
			<div class="modal-content radius">
				<div class="modal-header">
					<h3 class="modal-title">数据包保存</h3>
					<a class="close" data-dismiss="modal" aria-hidden="true">×</a>
				</div>
				<div class="modal-body">
					<strong>名称：</strong><input type="text" placeholder="请输入数据包名称" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" id="saveName">

				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" data-dismiss="modal" onclick="saveFile();">确定</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	var csvFile;
	var file={};
	//保存页面数据，封装json，用ajax传递
	function saveFile() {
		if(document.getElementById('saveName').value == ""){
			$.Huimodalalert('请输入保存名称',2000);
		}
		var modelid = [[${modelid}]];
		file["fileName"]=document.getElementById('saveName').value;
		file["modelid"]=modelid;
		$.ajax({
			url : "/data/dataSave",
			type : "POST",
			async : true,
			contentType: "application/json; charset=utf-8",
			data : JSON.stringify(file),
			dataType : 'json',
			success : function() {
				$.Huimodalalert('保存成功',1000);
				//传输成功后延时500ms跳转到模型列表
				function jumurl(){
					window.location.href = "/data/databaobuild/"+modelid;
				}
				setTimeout(jumurl,1500);
			}
		});
	}

	//清空已选数据
	function dataFreshen() {
		document.getElementById("select_table_head").innerHTML=null;
		document.getElementById("select_table_body").innerHTML=null;
		var head=file.表头;
		for (var i = 0; i <head.length ; i++) {
			delete file[head[i]];
		}
		delete file.表头;
		delete file.datablocks;
		console.log(file);
	}
	
	//跳出模型保存框
    function jumpDialog() {
        $("#modal-demo").modal("show");
    }

    //添加数据源
	function showDataSource(id) {

		$("#"+id+20).show(300);
	}

    function addData(value) {
		var select_headers=[];
		var select_body=[];
		document.getElementById("select_table_head").innerHTML=null;
		document.getElementById("select_table_body").innerHTML=null;
    	var col_count=[];
    	var k=0;
		$('input[type=checkbox]:checked').each(function(){
			var id=this.id;
			col_count[k++]=id;
			this.checked=false;
		});
		//获取选中列的内容
		var headers = csvFile[0].split(",");
		if (jQuery.isEmptyObject( file )) {
			for(var j=0; j< col_count.length; j++){
				select_headers[j]=headers[col_count[j]];
			}
			file["表头"]=select_headers;
			file["datablocks"]=value;
		} else {
			select_headers=file["表头"];
			var datablock=file["datablocks"];
			var headSize=select_headers.length;
			var k=0;
			for(var j=0; j< col_count.length; j++){
				var flag=true;
				for (var i = 0; i <headSize ; i++) {
					if (select_headers[i]==headers[col_count[j]]){
						flag=false;
						k++;
					}
				}
				if (flag){
					select_headers[headSize+j-k]=headers[col_count[j]];
				}
			}
			file["表头"]=select_headers;
			file["datablocks"]=datablock+","+value;
		}
		for(var j=0; j< col_count.length; j++){
			var head=headers[col_count[j]];
			for(var i=1; i < csvFile.length; i++){
				select_body[i-1]=csvFile[i].split(",")[col_count[j]];
			}
			file[head]=select_body;
		}
		console.log(file);
		var count = Object.keys(file).length;
		//var file_col_count = file[0].length;
		row=document.createElement("tr"); //创建行
		for (var i = 0; i < select_headers.length; i++) {
			th1=document.createElement("th"); //创建单元格
			th1.appendChild(document.createTextNode(select_headers[i])); //为单元格添加内容
			row.appendChild(th1); //将单元格添加到行内
		}
		document.getElementById("select_table_head").append(row); //将行添加到<thread>中

		for(var i=0; i < csvFile.length-1; i++){
			row=document.createElement("tr"); //创建行
			for (var j = 0; j < select_headers.length; j++) {
				td1=document.createElement("td"); //创建单元格
				td1.appendChild(document.createTextNode(file[select_headers[j]][i])); //为单元格添加内容
				row.appendChild(td1); //将单元格添加到行内
			}
			document.getElementById("select_table_body").append(row); //将行添加到<thread>中
		}

		//mergeFile=file;
	}

    //添加算法图标及信息,逻辑判断信息

	function datasource(id,value) {

		var dataName = value;
		var datablock =id;
		var result = {
			"datablock":datablock,
		};
		$.ajax({
			url : "/data/dataReview",
			type : "POST",
			async : true,
			contentType: "application/json; charset=utf-8",
			data : JSON.stringify(result),
			dataType : 'json',
			success : function(data) {
				document.getElementById("dataName").innerHTML=dataName;
				document.getElementById("addData").value=datablock;
				showTable(data);
				csvFile=data;
				//console.log(data);
			}
		});
	}

	//表格展示
	function showTable(data){

		document.getElementById("table_head").innerHTML=null;
		document.getElementById("table_body").innerHTML=null;
		var thread_content = document.getElementById("table_head").innerHTML+"";
		if (thread_content == ""){
			var result =data;
			var col_count = result[0].split(",").length;
			if(result.length > 51){
				var record_count = 51;
			}
			else{
				var record_count = result.length;
			}
			// 展示表格各个变量的名称
			var headers = result[0].split(",");
			row=document.createElement("tr"); //创建行
			for(var i=0; i< col_count; i++){
				th1=document.createElement("th"); //创建单元格
				input1=document.createElement("input");
				input1.type="checkbox";
				input1.className="check-box";
				input1.id=i;
				th1.appendChild(input1);
				th1.appendChild(document.createTextNode(headers[i])); //为单元格添加内容
				row.appendChild(th1); //将单元格添加到行内
			}
			document.getElementById("table_head").append(row); //将行添加到<thread>中
			for(var i=1; i < record_count; i++){
				row=document.createElement("tr"); //创建行
				for(var j=0; j< col_count; j++){
					td1=document.createElement("td"); //创建单元格
					td1.appendChild(document.createTextNode(result[i].split(",")[j])); //为单元格添加内容
					row.appendChild(td1); //将单元格添加到行内
				}
				document.getElementById("table_body").append(row); //将行添加到<thread>中
			}
		}

	}

</script>
</body>
</html>