<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>检索排序管理模块</title>
   <!-- <link rel="stylesheet" href="css/threeTwo.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />



    <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
    <script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>




</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 数据建模 <span class="c-gray en">&gt;</span> 数据模型管理 <!--<span class="c-gray en">&gt;</span> 业务管理--> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" >
    <div class="panel panel-default" style="height: 90vh">
        <div class="panel-header">数据模型管理
        </div>
        <div class="panel-body">
            <div >
                <!--实现模糊搜索-->
                <form method="get" action="#" th:action="@{/data/dataModelSearch}">
                    <input type="text" placeholder="请输入关键词" class="input-text ac_input" name="search_text" value="" id="search_text" autocomplete="off" style="width:30%"><button type="submit" class="btn btn-default" id="search_button">搜索</button>&nbsp;&nbsp;&nbsp;【当前共&nbsp;&nbsp;<a th:text="${dataModelList.size()}"></a>&nbsp;&nbsp;条数据】
                </form>
            </div>
            <div style="margin-top: 1%">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th >数据模型名称</th>
                        <!--<th >文件大小</th>
                        <th >创建时间</th>-->
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr class="text-c" th:if="${dataModelList.size()} eq 0">
                            <td colspan="4">当前未新增业务</td>
                        </tr>

                        <tr class="text-c" th:each="dataModelList:${dataModelList}">
                            <td><a style="cursor:pointer" class="text-primary" th:href="@{'/data/modelReview/'+${dataModelList.modelid}}" th:text="${dataModelList.modelname}"></a></td>
                           <!-- <td th:text="${businessFile.filesize}"></td>
                            <td th:text="${businessFile.filetime}"></td>-->


                            <td>
                            <!-- <a id="getbusinessid" th:value="${businessModels.businessid}" >--><!--<input th:id="${businessModels.businessid}"  onclick="confirmDelete()" value="删除" class="btn btn-primary size-MINI radius"/>-->
                                <input th:id="${dataModelList.modelid}" onclick="confirmDelete(this)" class="btn btn-primary size-MINI radius" type="button" value="删除">

                                <!-- <input id="getbusinessid" th:id="${businessModels.businessid}" onclick="confirmDelete()" class="btn btn-primary size-MINI radius" type="button" value="删除">
                                 --><!--&lt;!&ndash;跳转modelModify 实现模型下载&ndash;&gt;-->
                          <!--      <a th:href="@{'/fileDown/'+ ${businessModels.businessid}}"><input class="btn btn-primary size-MINI radius" type="button" value="下载"></a>
                           --> </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    function confirmDelete(obj) {
        var modelid=obj.id;
        if (confirm("确定删除吗？")){
            $.ajax({
                type:'POST',
                url:"/data/dataModelDelete",
                dataType:"json",
                traditional:true,
                data:{
                    'modelid':modelid,
                },
                async:false,
                success:function (data) {
                    alert("删除成功")
                    location.reload(true)
        }

            });
        }else {
            location.href="/data/dataModelManage"
        }

    }

</script>


</body>
</html>

