<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>检索排序管理模块</title>
    <!-- <link rel="stylesheet" href="css/threeTwo.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}"/>


    <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>


</head>
<body>
<!--<input type="hidden" th:value="${modelid}" id="modelid"/>-->
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 数据建模 <span class="c-gray en">&gt;</span> 数据模型显示</nav>
<div class="page-container" style="padding-left: 0%; padding-top: 0%;">
    <div class="panel panel-default" style="height: 20vh;width: 100vw;border-bottom: none;">
        <div class="panel-header">数据链
        </div>
        <div class="panel-body">

            <div  th:id="${datamodelLinkList.linkid}"  class="panel panel-default" style="height: 12vh;width: 9vw;float: left;margin-left: 1.5%;margin-top: 0%;" th:each="datamodelLinkList:${datamodelLinkList}">

                <div class="panel-header"  th:text="${datamodelLinkList.linkname}"  style="text-align: center"></div>
                <div style="height: 49%;width: 37%;float: left;margin-left: 30%;margin-top: 6%;">
                    <a id="review" th:href="@{'/data/Linkviewx/'+${datamodelLinkList.processid}}"><image src="/image/question.png" style="cursor:pointer;height: 100%;width: 100%" ></image></a>
                    <!--<div  style="width: 30%;height: 30%; margin-left: 140%;margin-top: -170%;"><a th:id="${datamodelLinkList.processid}" th:href="@{'/data/deletex/'+${datamodelLinkList.processid}}" style="cursor:pointer;"><image src="/image/delete.png" style="cursor:pointer;height: 100%;width: 100%" ></image></a></div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="height: 20vh;width: 100vw;border-bottom: none;">
        <div class="panel-header">数据区
        </div>
        <div class="panel-body">
            <div class="panel panel-default"
                 style="height: 12vh;width: 9vw;float: left;margin-left: 1.5%;margin-top: 0%;">
                <div class="panel-header" style="text-align: center;">数据逻辑关系图</div>
                <div style="height: 49%;width: 37%;float: left;margin-left: 30%;margin-top: 6%;">
                    <a id="dataLogic" th:href="@{'/data/dataLogicList/'+${modeid}}">
                        <image src="/image/question.png" style="cursor:pointer;height: 100%;width: 97%"></image>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-default" style="height: 20vh;width: 100vw;border-bottom: none;">
        <div class="panel-header">数据块
        </div>
        <div class="panel-body" style="height: 59%;overflow: auto;">

            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                <tr class="text-c">
                    <th>数据块名称</th>
                    <th>数据块结果名称</th>
                    <th>关联数据区</th>
                    <th>数据块构建流程</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr class="text-c" th:if="${dataBlockList.size()} eq 0">
                    <td colspan="5">当前没有数据块信息</td>
                </tr>

                <tr class="text-c" th:each="dataBlockList:${dataBlockList}">
                    <td><p style="cursor:pointer" class="text-primary" th:text="${dataBlockList.blockname}"></p></td>
                    <td><a th:href="@{'/data/blockShow/'+ ${dataBlockList.blockid}}" style="cursor:pointer" class="text-primary" th:text="${dataBlockList.dataresultname}"></a>
                    </td>
                    <td><p style="cursor:pointer" class="text-primary" th:text="${dataBlockList.areaname}"></p></td>
                    <td><p style="cursor:pointer" class="text-primary" th:text="${dataBlockList.createprocess}"></p>
                    </td>
                    <td>
                        <a th:href="@{'/data/blockShow/'+${dataBlockList.blockid}}">
                            <input class="btn btn-primary size-MINI radius" type="button" value="打开">
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default" style="height: 20vh;width: 100vw;border-bottom: none;">
        <div class="panel-header">数据包
        </div>
        <div class="panel-body" style="height: 59%;overflow: auto;">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                <tr class="text-c">
                    <th>数据包名称</th>
                    <th>关联数据块</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr class="text-c" th:if="${datamodelBaoList.size()} eq 0">
                    <td colspan="4">当前没有数据包信息</td>
                </tr>

                <tr class="text-c" th:each="datamodelBao:${datamodelBaoList}">
                    <td><a th:href="@{'/data/dataReview/'+ ${datamodelBao.dataresultid}}" style="cursor:pointer" class="text-primary" th:text="${datamodelBao.baoname}"></a></td>
                    <td><p style="cursor:pointer" class="text-primary" th:text="${datamodelBao.blockname}"></p></td>
                    <td>
                        <a th:href="@{'/data/dataReview/'+ ${datamodelBao.dataresultid}}">
                            <input class="btn btn-primary size-MINI radius" type="button" value="打开">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" style="height: 20vh;width: 100vw;">
        <div class="panel-header">数据集
        </div>
        <div class="panel-body" style="height: 59%;overflow: auto;">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                <tr class="text-c">
                    <th>数据集名称</th>
                    <th>数据集类型</th>
                    <th>关联数据包</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>

                <tr class="text-c" th:each="datamodelJi:${datamodelJi}">
                    <td><a th:href="@{'/data/dataJiReview/'+ ${datamodelJi.baoid}}" style="cursor:pointer" class="text-primary" th:text="${datamodelJi.jiname}"></a></td>
                    <td><p style="cursor:pointer" class="text-primary" th:text="${datamodelJi.jitype}"></p></td>
                    <td><p style="cursor:pointer" class="text-primary" th:text="${datamodelJi.baoname}" ></p></td>
                    <td>
                        <a th:href="@{'/data/aggreShow/'+ ${datamodelJi.jiid}}">
                            <input class="btn btn-primary size-MINI radius" type="button" value="打开">
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

