<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>检索排序管理模块</title>
   <!-- <link rel="stylesheet" href="css/threeTwo.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
</head>
<body>
<!--<input type="hidden" th:value="${modelid}" id="modelid"/>-->
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 数据集成 <span class="c-gray en">&gt;</span> 接入数据列表  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" >
    <div class="panel panel-default" style="height: 90vh">
        <div class="panel-header">选择数据接入
            <!--<a th:href="@{'/analyzModelExample/'+${modelid}}"><input class="btn btn-success radius" type="button" style="position: absolute;right: 4%;;margin-top:  -0.3%;" value="新增"/></a>-->
        </div>
       <!-- <div style="float: left;font-size:20px; font-weight:700;margin-left: 14%;margin-top: 3vh;">接入mysql数据</div>

        <div class="select-box" style="width: 20%;margin-left: 20%;margin-top: 3vh;float: left;" >
            <select id="getTables" class="select" size="1"     name="data"  style="color: #277de2;"  onchange="getTables()" >

                    <option value ="选择接入数据">选择接入数据</option>
                    <option value ="勘察设计数据">勘察设计数据</option>
                    <option value="工程施工数据">工程施工数据</option>


                &lt;!&ndash; <option  th:each="data1:${dataListcon}" th:text="${data1}"></option>&ndash;&gt;

            </select>
            <a onclick="dataNewPath()"><input class="btn btn-success radius" type="button" style="position: absolute;;margin-top: 6%;margin-left: -20%" value="勘察设计数据" /></a>
            <a onclick="dataNewPath()"><input class="btn btn-success radius" type="button" style="position: absolute;;margin-top: 6%;margin-left: -49%" value="工程施工数据" /></a>

        </div>-->


       <!-- <div class="select-box" style="width: 20%;margin-left: 10%;margin-top: 3vh;float: left;" >
            <select id="dataFuseSelect1" class="select" size="1"  name="dataBagSelect"  style="color: #277de2;">

                <option value ="选择接入数据">选择数据表</option>


                &lt;!&ndash; <option  th:each="data1:${dataListcon}" th:text="${data1}"></option>&ndash;&gt;

            </select>
        </div>-->
        <div class="panel-body" style="margin-top: 1%">

       <input   id="design" class="btn btn-success radius" type="button" style=";margin-top: 1%;margin-left: 16%" value="勘察设计数据" onclick="design(this.value)" />
       <input   id="engineer" class="btn btn-success radius" type="button" style=";margin-top: 1%;margin-left: 25%" value="工程施工数据" onclick="design(this.value)"/>

            <a onclick="dataNewPath()"><input class="btn btn-success radius" type="button" style="position: absolute;;margin-top: 1%;margin-left: 25%" value="运营维护数据" /></a>
        </div>

        <div class="panel-body" style="margin-top: 0.5%">
            <div >
                <!--实现模糊搜索-->
           <!--     <form method="get" action="#">
                <input type="text" placeholder="请输入关键词" class="input-text ac_input" name="name" value=""
                       id="search_text" autocomplete="off" style="width:30%">
                <button type="submit" class="btn btn-default" id="search_button">
                    搜索
                </button>
            </form>-->

            </div>
            <div style="margin-top: 1%">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th >文件名称</th>
                        <th >文件路径</th>
                        <th >创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>


                    <tr class="text-c" th:each="MysqlData:${MysqlData}">
                        <td><a style="cursor:pointer" class="text-primary" th:text="${MysqlData.mysqldataname}" ></a></td>
                        <td th:text="${MysqlData.mysqldatapath}"></td>
                        <td th:text="${MysqlData.mysqldatatime}"></td>


                        <td>
                            <!--&lt;!&ndash;跳转modelView  实现模型打开&ndash;&gt;-->
                            <!--&lt;!&ndash;<a th:href="@{'/dataReview/'+ ${fileAndUpload.id}}"><input class="btn btn-primary size-MINI radius" type="button" value="打开"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;跳转modelModify 实现模型修改&ndash;&gt;-->
                            <!--&lt;!&ndash;<a><input class="btn btn-primary size-MINI radius" type="button" value="修改"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;请求后台modelDelete/{id} 实现模型删除&ndash;&gt;--><input   th:id="${MysqlData.mysqldataid}"   onclick="configuration1()" class="btn btn-primary size-MINI radius" type="button" value="配置">
                         <!--   <a th:id="${businessFile.dataid}" onclick="deletefile(id)">--><input     th:id="${MysqlData.mysqldataid}" onclick="confirmDelete(this)" class="btn btn-primary size-MINI radius" type="button" value="删除">
                            <!--<a th:href="@{'/business/businessFileDown/'+ ${businessFile.dataid}}">-->
                            <!--<input class="btn btn-primary size-MINI radius" type="button" value="下载">-->
                            <!--</a>-->
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript" th:inline="javascript">
    function confirmDelete(obj) {
        var modelid=obj.id;
        /*   alert(businessid)*/
        if (confirm("确定删除吗？")){
            $.ajax({
                type:'POST',
                url:"/dataManager/MysqlDataDelete",
                dataType:"json",
                traditional:true,
                data:{
                    'modelid':modelid,
                },
                async:false,
                success:function (data) {
                    alert("删除成功");
                    /*    $.Huimodalalert('删除成功', 2000);*/
                    /*   location.href="/businessManage"*/
                    location.reload(true);
                 /*   parent.location.reload();*/
                }

            });
        }else {
            location.href="/dataManager/structure"
        }




    }

</script>






<script type="text/javascript" th:inline="javascript">
    //保存页面数据，封装json，用ajax传递
  /*  document.getElementById("data").value;
    var index=document.getElementById("data").selectedIndex;//获取当前选择项的索引.
    document.getElementById("data").options[index].value;//获取当前选择项的值.

    var obj=document.getElementById("data");

    for(i=0;i<obj.length;i++) {//下拉框的长度就是它的选项数.

        if(obj[i].selected==true) {

            var text=obj[i].value;//获取当前选择项的值.

        }
        $.ajax({
            async: false,
            type : "post",
            dataType: "json",
            contentType : 'application/json;charset=UTF-8',
            data:text,
            url : '/getTables',
            success : function() {
                $.Huimodalalert('保存成功',2000);
            }
        });
    }*/


</script>
<script>
    function configuration() {
        $("#configuration").modal("show");
    }
    function configuration1() {
        $("#configuration1").modal("show");
    }

    var Class;
    function dataNewPath() {
        $("#newPathmodal-demo").modal("show");
    }
    function newsaveSceneName() {
  /*  var data={};
    data["PointName"]=document.getElementById('PointName').value;
    data["startTime"]=document.getElementById('startTime').value;
    data["endTime"]=document.getElementById('endTime').value;*/

    var PointName =  $("input[id='PointName']").val();
    var startTime =  $("input[id='startTime']").val();
    var endTime =  $("input[id='endTime']").val();

    if (PointName == null || startTime == null || endTime == null){
        $.Huimodalalert('输入为空，请重新输入', 2000);
    }
    else {
        var json = {
            "PointName": PointName,
            "startTime": startTime,
            "endTime": endTime
        }
        $.ajax({
            async: false,
            type: "post",
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(json),
            url: "/openTsdb/getTsdbData",
            success: function (data) {
                $.Huimodalalert(data.resp_msg, 5000);
            }
        });
    }
}
    function design(value) {
        Class = value;
        var dataClass1 = value;
        var dataClass = {
            "dataClass":dataClass1
        };

        $.ajax({
            async: false,
            type: "post",
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(dataClass),
            url : "/mysql/getTables",
            success : function(data) {
                if (data.resp_code == 0) {
                    var tables = data.resp_msg;
                    var designTables = tables.split(",");
                    $.Huimodalalert('请继续选择对应数据的表名', 2000);
                    var Tables = new Array();
                    for (var i = 0; i < designTables.length; i++) {
                        Tables.push("<option value ='" + designTables[i] + "'>" + designTables[i] + "</option>");
                    }
                    document.getElementById("getTables").innerHTML = "";
                    $("#getTables").append(Tables.join("\n"));
                    $("#newPathmodal-demo1").modal("show");
                }
                else {
                    $.Huimodalalert(data.resp_msg, 5000);
                }
            }
        });
    }
    function getMysqlData() {
        var fileName = $("#FileName").val();
        if (fileName == null || fileName == "") {
            $.Huimodalalert("请输入文件名", 5000);
        }
        else {
        var tableName = $('#getTables').val();
        var dataClass = Class;

        var json = {
            "tableName":tableName,
            "dataClass":dataClass,
            "fileName":fileName
        };
            $.ajax({
                async: false,
                type: "post",
                dataType: "json",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(json),
                url : "/mysql/getTableData",
                success : function(data) {
                    $.Huimodalalert(data.resp_msg, 5000);
                }
                })
    }
    }



</script>
<div id="configuration1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <!-- 弹出对话框 -->
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" >将数据配置到选择的模型</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <!-- <strong>文件名</strong><input placeholder="请输入。。。"  id="FileName"  type="text"  class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >-->
                <input    class="btn btn-success radius" type="button" style=";margin-top: 2%;margin-left: 10%" value="勘察设计数据" onclick="design(this.value)" />
                <input    class="btn btn-success radius" type="button" style=";margin-top: 2%;margin-left: 10%" value="工程施工数据" onclick="design(this.value)"/>

                <a onclick="dataNewPath()"><input class="btn btn-success radius" type="button" style="position: absolute;;margin-top: 2%;margin-left: 10%" value="运营维护数据" /></a>
            </div>
            <div class="modal-body"> </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="getMysqlData();">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<div id="configuration" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <!-- 弹出对话框 -->
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" >将数据配置到选择的模型</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
               <!-- <strong>文件名</strong><input placeholder="请输入。。。"  id="FileName"  type="text"  class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >-->
                <strong style="margin-left:1%;position: absolute;margin-top: 0.5vh;">数据模型</strong><select     id="1" class="select" size="1"     name="data"  style="color: #277de2;width: 43%;margin-left: 14.5%;" >
                <option  >选择数据模型</option>
                <option  th:each="dataModelList:${dataModelList}" th:text="${dataModelList.modelname}">选择数据模型</option>
            </select>
                <strong style="margin-left: -53.5%;position: absolute;margin-top: 7vh;">分析模型</strong><select  id="2" class="select" size="1"     name="data"  style="color: #277de2;width: 43%;margin-left: 14.5%;margin-top:7%" >
                <option  >选择数据模型</option>
                <option    th:each="analyseModelList:${analyseModelList}" th:text="${analyseModelList.name}">选择分析模型</option>
            </select>
                <strong style="margin-left: -53.5%;position: absolute;margin-top: 11vh;">验证模型</strong><select  id="3" class="select" size="1"     name="data"  style="color: #277de2;width: 43%;margin-left: 14.5%;margin-top:6%" >
                <option  >选择数据模型</option>
                <option th:each="experimentModelList:${experimentModelList}" th:text="${experimentModelList.testname}">选择验证模型</option>
            </select>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="getMysqlData();">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>




<div id="newPathmodal-demo1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <!-- 弹出对话框 -->
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" ></h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <strong>文件名</strong><input placeholder="请输入。。。"  id="FileName"  type="text"  class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >
                <strong style="margin-left: -53.5%;position: absolute;margin-top: 5vh;">数据表</strong><select id="getTables" class="select" size="1"     name="data"  style="color: #277de2;width: 43%;margin-left: 10%" >
                </select>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="getMysqlData();">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<div id="newPathmodal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <!-- 弹出对话框 -->
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" ></h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>

            <div class="modal-body">
                <strong>pointName  ：</strong><input placeholder="推荐   3703-CNET0059.VICO"  id="PointName"  type="text"  class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >
            </div>
            <div class="modal-body">
                <strong>startTime  ：</strong><input placeholder="推荐    1572577582 "   id="startTime"  type="text"  class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >
            </div>
            <div class="modal-body">
                <strong>endTime    ：</strong><input placeholder="推荐   1572584782"   id="endTime" type="text"  class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="newsaveSceneName();">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:inline="javascript">

</script>
</body>
</html>

