<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>检索排序管理模块</title>
   <!-- <link rel="stylesheet" href="css/threeTwo.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
</head>
<body>
<!--<input type="hidden" th:value="${modelid}" id="modelid"/>-->
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 数据集成 <span class="c-gray en">&gt;</span> 接入数据列表  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" >
    <div class="panel panel-default" style="height: 90vh">
        <div class="panel-header">接入数据列表
            <!--<a th:href="@{'/analyzModelExample/'+${modelid}}"><input class="btn btn-success radius" type="button" style="position: absolute;right: 4%;;margin-top:  -0.3%;" value="新增"/></a>-->
        </div>
       <!-- <div style="float: left;font-size:20px; font-weight:700;margin-left: 14%;margin-top: 3vh;">接入mysql数据</div>

        <div class="select-box" style="width: 20%;margin-left: 20%;margin-top: 3vh;float: left;" >
            <select id="getTables" class="select" size="1"     name="data"  style="color: #277de2;"  onchange="getTables()" >

                    <option value ="选择接入数据">选择接入数据</option>
                    <option value ="勘察设计数据">勘察设计数据</option>
                    <option value="工程施工数据">工程施工数据</option>


                &lt;!&ndash; <option  th:each="data1:${dataListcon}" th:text="${data1}"></option>&ndash;&gt;

            </select>
            <a onclick="dataNewPath()"><input class="btn btn-success radius" type="button" style="position: absolute;;margin-top: 6%;margin-left: -20%" value="勘察设计数据" /></a>
            <a onclick="dataNewPath()"><input class="btn btn-success radius" type="button" style="position: absolute;;margin-top: 6%;margin-left: -49%" value="工程施工数据" /></a>

        </div>-->


       <!-- <div class="select-box" style="width: 20%;margin-left: 10%;margin-top: 3vh;float: left;" >
            <select id="dataFuseSelect1" class="select" size="1"  name="dataBagSelect"  style="color: #277de2;">

                <option value ="选择接入数据">选择数据表</option>


                &lt;!&ndash; <option  th:each="data1:${dataListcon}" th:text="${data1}"></option>&ndash;&gt;

            </select>
        </div>-->


        <a onclick="design();design1()"><input   id="design" class="btn btn-success radius" type="button" style=";margin-top: 1%;margin-left: 1%" value="接入勘察设计数据" /></a>
        <a onclick="engineer();engineer1()"><input   id="engineer" class="btn btn-success radius" type="button" style=";margin-top: 1%;margin-left: 1%" value="接入工程施工数据" /></a>

            <a onclick="dataNewPath()"><input class="btn btn-success radius" type="button" style="position: absolute;;margin-top: 1%;margin-left: 1%" value="接入运营维护数据" /></a>


        <div class="panel-body" style="margin-top: 10%">
            <div >
                <!--实现模糊搜索-->
           <!--     <form method="get" action="#">
                <input type="text" placeholder="请输入关键词" class="input-text ac_input" name="name" value=""
                       id="search_text" autocomplete="off" style="width:30%">
                <button type="submit" class="btn btn-default" id="search_button">
                    搜索
                </button>
            </form>-->

            </div>
            <div style="margin-top: 1%">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th >数据来源</th>
                        <th >数据名称</th>

                        <th >操作</th>
                    </tr>
                    </thead>

               <!--     <tbody>
                        <tr class="text-c" th:if="${analyticsTaskList.size()} eq 0">
                            <td colspan="6">当前没有任务</td>
                        </tr>
                        <tr class="text-c"  th:each="analyticsTaskList:${analyticsTaskList}">
                            <td th:text="${analyticsTaskList.id}"></td>
                            <td th:text="${analyticsTaskList.modelInstanceId}"></td>
                            <td th:text="${analyticsTaskList.timestamp}"></td>
                            <td th:text="${analyticsTaskList.status}"></td>
                            <td th:text="${analyticsTaskList.result}"></td>
                            &lt;!&ndash;<td><a style="cursor:pointer" class="text-primary" th:text="${analyseFlowList.examplename}" th:href="@{'/fileReview/'+ ${datamodelSource.sourceid}}"></a></td>&ndash;&gt;
                            <td th:text="${analyticsTaskList.completeTime}"></td>
                        </tr>
                    </tbody>-->


                   <tbody>
                        <tr class="text-c">
                            <td>统一平台</td>
                            <td>实时轴线偏差数据1</td>

                            <td>
                                <a>
                                    <input class="btn btn-success radius" type="button"  value="删除" />
                                </a>
                            </td>
                        </tr>
                        <tr class="text-c">
                            <td>统一平台</td>
                            <td>实时轴线偏差数据2</td>

                            <td>

                                <a>
                                    <input class="btn btn-success radius" type="button" value="删除" />
                                </a>
                            </td>
                        </tr>
                        <tr class="text-c">
                            <td>统一平台</td>
                            <td>地面沉降数据包</td>

                            <td>

                                <a>
                                    <input class="btn btn-success radius" type="button" value="删除" />
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    //保存页面数据，封装json，用ajax传递
  /*  document.getElementById("data").value;
    var index=document.getElementById("data").selectedIndex;//获取当前选择项的索引.
    document.getElementById("data").options[index].value;//获取当前选择项的值.

    var obj=document.getElementById("data");

    for(i=0;i<obj.length;i++) {//下拉框的长度就是它的选项数.

        if(obj[i].selected==true) {

            var text=obj[i].value;//获取当前选择项的值.

        }
        $.ajax({
            async: false,
            type : "post",
            dataType: "json",
            contentType : 'application/json;charset=UTF-8',
            data:text,
            url : '/getTables',
            success : function() {
                $.Huimodalalert('保存成功',2000);
            }
        });
    }*/


</script>
<script>
    function dataNewPath() {
        $("#newPathmodal-demo").modal("show");
    }
    function design() {
        $("#newPathmodal-demo1").modal("show");
    }

    function engineer() {
        $("#newPathmodal-demo2").modal("show");
    }
function newsaveSceneName() {
  /*  var data={};
    data["PointName"]=document.getElementById('PointName').value;
    data["startTime"]=document.getElementById('startTime').value;
    data["endTime"]=document.getElementById('endTime').value;*/

    var PointName =  $("input[id='PointName']").val();
    var startTime =  $("input[id='startTime']").val();
    var endTime =  $("input[id='endTime']").val();

    $.ajax({
        async: true,
        cache:false,
        type : "post",


        data:   {
            PointName:PointName,
            startTime:startTime,
            endTime:endTime,
        },

        url : "/openTsdb/getTsdbData",
        success : function() {
            $.Huimodalalert('保存成功',2000);
        }
    });
}
    function design1() {
        /*  var data={};
          data["PointName"]=document.getElementById('PointName').value;
          data["startTime"]=document.getElementById('startTime').value;
          data["endTime"]=document.getElementById('endTime').value;*/


        var dataClass=document.getElementById("design").value;

        alert(dataClass);
        JSON.stringify(dataClass)
        $.ajax({
            async: true,
            cache:false,
            type : "post",
            dataType: "json",

            data: JSON.stringify({dataClass: dataClass}),

            url : "/mysql/getTables",
            success : function(data) { var tables = data.resp_msg;
                var designTables = tables.split(",");
                $.Huimodalalert('请继续选择对应数据的表名',2000);
            }
        });
    }

    function engineer1() {
        /*  var data={};
          data["PointName"]=document.getElementById('PointName').value;
          data["startTime"]=document.getElementById('startTime').value;
          data["endTime"]=document.getElementById('endTime').value;*/


        var dataClass=document.getElementById("engineer").value;

        alert(dataClass);
        JSON.stringify(dataClass)
        $.ajax({
            async: true,
            cache:false,
            type : "post",
            dataType: "json",

            data: JSON.stringify({dataClass: dataClass}),

            url : "/mysql/getTables",
            success : function(data) { var tables = data.resp_msg;
                var engineerTables = tables.split(",");
                $.Huimodalalert('请继续选择对应数据的表名',2000);
            }
        });
    }



</script>
<div id="newPathmodal-demo2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <!-- 弹出对话框 -->
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" ></h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>

            <div class="modal-body">
                <select id="getTables" class="select" size="1"     name="data"  style="color: #277de2;"  onchange="getTables()" >

                    <option value ="选择接入数据">选择接入数据</option>
        <!--            <option  th:each="engineerTables:${engineerTables}" th:text="${engineerTables}"></option>-->



                </select>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="newsaveSceneName2();">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<div id="newPathmodal-demo1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <!-- 弹出对话框 -->
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" ></h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>

            <div class="modal-body">
                <select id="getTables1" class="select" size="1"     name="data"  style="color: #277de2;"  onchange="getTables()" >

                    <option value ="选择接入数据">选择接入数据</option>


                </select>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="newsaveSceneName1();">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<div id="newPathmodal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <!-- 弹出对话框 -->
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title" ></h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>

            <div class="modal-body">
                <input type="text" placeholder="推荐   3703-CNET0059.VICO" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;display: none" id="newdataFuseSelect2" value="1x">
                <strong>pointName  ：</strong><input   id="PointName"  type="text" vaule="推荐   3703-CNET0059.VICO " class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >
            </div>
            <div class="modal-body">
                <input type="text" placeholder="推荐    1572577582 " class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;display: none" id="newdataFuseSelect3" value="1x">
                <strong>startTime  ：</strong><input    id="startTime"  type="text" vaule="推荐    1572577582  " class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >
            </div>
            <div class="modal-body">
                <input type="text" placeholder="推荐   1572584782" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;display: none" id="newdataFuseSelect4" value="1x">
                <strong>endTime    ：</strong><input    id="endTime" type="text" vaule="推荐   1572584782" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" >
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="newsaveSceneName();">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:inline="javascript">

</script>
</body>
</html>

