<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>检索排序管理模块</title>
   <!-- <link rel="stylesheet" href="css/threeTwo.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
</head>
<body>
<!--<input type="hidden" th:value="${modelid}" id="modelid"/>-->
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 数据集成 <span class="c-gray en">&gt;</span> 接入数据列表  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" >
    <div class="panel panel-default" style="height: 90vh">
        <div class="panel-header">接入数据列表
            <!--<a th:href="@{'/analyzModelExample/'+${modelid}}"><input class="btn btn-success radius" type="button" style="position: absolute;right: 4%;;margin-top:  -0.3%;" value="新增"/></a>-->
        </div>
        <div class="panel-body">
            <div >
                <!--实现模糊搜索-->
                <form method="get" action="#">
                <input type="text" placeholder="请输入关键词" class="input-text ac_input" name="name" value=""
                       id="search_text" autocomplete="off" style="width:30%">
                <button type="submit" class="btn btn-default" id="search_button">
                    搜索
                </button>
            </form>

            </div>
            <div style="margin-top: 1%">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th >数据来源</th>
                        <th >数据名称</th>
                        <th >场景</th>
                        <th >问题</th>
                        <th >操作</th>
                    </tr>
                    </thead>

               <!--     <tbody>
                        <tr class="text-c" th:if="${analyticsTaskList.size()} eq 0">
                            <td colspan="6">当前没有任务</td>
                        </tr>
                        <tr class="text-c"  th:each="analyticsTaskList:${analyticsTaskList}">
                            <td th:text="${analyticsTaskList.id}"></td>
                            <td th:text="${analyticsTaskList.modelInstanceId}"></td>
                            <td th:text="${analyticsTaskList.timestamp}"></td>
                            <td th:text="${analyticsTaskList.status}"></td>
                            <td th:text="${analyticsTaskList.result}"></td>
                            &lt;!&ndash;<td><a style="cursor:pointer" class="text-primary" th:text="${analyseFlowList.examplename}" th:href="@{'/fileReview/'+ ${datamodelSource.sourceid}}"></a></td>&ndash;&gt;
                            <td th:text="${analyticsTaskList.completeTime}"></td>
                        </tr>
                    </tbody>-->


                   <tbody>
                        <tr class="text-c">
                            <td>统一平台</td>
                            <td>实时轴线偏差数据1</td>
                             <td>轴线偏差场景1</td>
                             <td>轴线偏差问题1</td>
                            <td>
                                <a>
                                    <input class="btn btn-success radius" type="button" value="配置" />
                                </a>
                                <a>
                                    <input class="btn btn-success radius" type="button"  value="删除" />
                                </a>
                            </td>
                        </tr>
                        <tr class="text-c">
                            <td>统一平台</td>
                            <td>实时轴线偏差数据2</td>
                            <td>轴线偏差场景2</td>
                            <td>轴线偏差问题2</td>
                            <td>
                                <a>
                                    <input class="btn btn-success radius" type="button" value="配置" />
                                </a>
                                <a>
                                    <input class="btn btn-success radius" type="button" value="删除" />
                                </a>
                            </td>
                        </tr>
                        <tr class="text-c">
                            <td>大数据分析平台中间过程数据</td>
                            <td>地面沉降数据包</td>
                            <td>地面沉降场景</td>
                            <td>地面沉降问题</td>
                            <td>
                                <a>
                                    <input class="btn btn-success radius" type="button" value="配置" />
                                </a>
                                <a>
                                    <input class="btn btn-success radius" type="button" value="删除" />
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div style="float: left;font-size:20px; font-weight:700;margin-left: 14%;margin-top: 8vh;">选择结构化数据</div>
            <div class="select-box" style="width: 20%;margin-left: 41.8%;margin-top: 8vh;float: left;" >
                <select id="dataFuseSelect" class="select" size="1"  name="dataBagSelect"  style="color: #277de2;">
                    <option value="" selected>请选择结构化数据表</option>
                    <!-- <option  th:each="data1:${dataListcon}" th:text="${data1}"></option>-->

                </select>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:inline="javascript">

</script>
</body>
</html>

