*{
    margin: 0;
    padding: 0;
}
.sr{
    height: 100vh;
    width:100%;
    background: white;
    border:1px solid #004684 ;
    box-sizing: border-box;
    position: relative;
}
.parameter1{
    border: 0px solid black;
    background: #D7D7D7;
    height: 5vh;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    position: absolute;
}
#cssz{
    display: flex;
    justify-content:center;
    align-items:Center;
    margin-top: 4px;
}
.parameter2{
    border: 1px solid black;

    height: 98vh;
    width: 20%;
    margin-left:79%;
    margin-top: 0%;
    position: absolute;
    border-left: none;
}
.image{
    border: 1px solid black;

    height: 98vh;
    width: 78%;
    margin-left:1%;
    margin-top: 0%;
    position: absolute;
}
.imaget{
    height: 66vh;
    width: 100%;
    margin-top: 4%;
}
.parameter3{
    border: 0px solid black;
    background: transparent;
    height: 5vh;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    position: absolute;
}
#word{
    display: flex;
    justify-content:center;
    align-items:Center;
    margin-top: 4px;
}
#tab_word1{
    display: flex;
    justify-content:center;
    align-items:Center;
    margin-top: -1px;
}
#image1{
    margin: 0 auto;
    display: block;

}
#image2{
    margin: 0 auto;
    display: block;
}
.explain{
    border: 1px solid black;
    height: 11vh;
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
    position: absolute;
    border-left: none;
    border-right: none;
}
.button3{
    border: 0px solid black;
    height: 10vh;
    width: 100%;
    margin-left: 0%;
    margin-top:  13vh;
    position: absolute;
    border-left: none;
    border-right: none;
}
.look{
    margin-left: 70%;
    /* margin-top: 10%; */
    width: 5%;
    height: 30px;
    background: #169BD5;
    border-radius: 5px;
    border-color: #169BD5;
    color: white;
    position: absolute;
    margin-top: 1%;
}
.save1{
    margin-left: 78%;
    margin-top: 1%;
    width: 5%;
    height: 30px;
    background: #169BD5;
    border-radius: 5px;
    border-color: #169BD5;
    color: white;
    position: absolute;
}
.clear1{    margin-left: 86%;
    margin-top: 1%;
    width: 5%;
    height: 30px;
    background: #169BD5;
    border-radius: 5px;
    border-color: #169BD5;
    color: white;
    position: absolute;
}
#nature{
    margin-top: 30%;
    margin-left: 5%;
    position: absolute;
}
#model1{
    margin-top: 33%;
    margin-left: 5%;
    position: absolute;
    width: 70%;
    height: 3vh;
}
#word2{
    margin-top: 95%;
    margin-left: 5%;
    position: absolute;
}
.explain_box1{
    margin-top: 40%;
    margin-left: 5%;
    position: absolute;
    border: 1px solid black;
    height: 18vh;
    width: 85%;
}
.explain_box2{
    margin-top: 105%;
    margin-left: 5%;
    position: absolute;
    border: 1px solid black;
    height: 4vh;
    width: 85%;

}
.explain_box3{
    margin-top: 130%;
    margin-left: 5%;
    position: absolute;
    border: 1px solid black;
    height: 7vh;
    width: 85%;
}
#word3{
    margin-top: 120%;
    margin-left: 5%;
    position: absolute;
}
#word4{
    margin-top: 155%;
    margin-left: 5%;
    position: absolute;
}
.explain_box4{
    margin-top: 165%;
    margin-left: 5%;
    position: absolute;
    border: 1px solid black;
    height: 4vh;
    width: 85%;
}
.list{
    margin-left: 15%;
    margin-top: 195%;
    width: 30%;
    height: 30px;
    position: absolute;
}
.import{
    margin-left: 55%;
    margin-top: 195%;
    width: 30%;
    height: 30px;
    position: absolute;
}
#wordg{
    display: flex;
    justify-content:center;
    align-items:Center;
    margin-top: 1%;
}
#wordk{
    display: flex;
    justify-content:center;
    align-items:Center;
    margin-top: 1%;
}
.tab_box1{
    margin-top: 13%;
    margin-left: 0%;
    position: absolute;
    border: 1px solid black;
    height: 3vh;
    width: 33%;
    border-left: none;
    border-right: none;
}
.tab_box2{
    margin-top: 13%;
    margin-left: 33%;
    position: absolute;
    border: 1px solid black;
    height: 3vh;
    width: 34%;
    background-color:#F2F2F2 ;
}
.tab_box3{
    margin-top: 13%;
    margin-left: 67%;
    position: absolute;
    border: 1px solid black;
    height: 3vh;
    width: 33%;

    background-color:#F2F2F2 ;

}
.tabCon{
	
}
