body{
    text-align: center;
}
#root{
    width:100%;
    height:98vh;
    display: flex;
    justify-content: space-between;
}

#left{
    width:243px;
    height:80vh;
    padding:32px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 0.2%;
}
.xxiasna{
    border: 2px solid darkgray;
    width: 243px;
    height: 16vh;
    position: absolute;
    margin-top: 47.3%;
    margin-left: 0.2%;

}
.btnposition{
    margin-top: 7%;
    width: 150px;
    margin-left: -11%;
}
.btnposition2{
    margin-top: 15%;
    width: 150px;
    margin-left: -11%;
}



.node {
    box-shadow: 2px 2px 19px #aaa;
    border-radius:6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    border: 1px solid #346789;
    width: 150px;
    text-align: center;
    z-index: 20;
    background-color: #eeeeef;
    color: black;
    padding: 10px;
    font-size: 9pt;
    cursor: pointer;
    height: 50px;
    /*line-height: 50px;*/
    background: lightskyblue;
}
.node:hover {
    box-shadow: 2px 2px 19px #444;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.node2css{
    background:orange;
}
.node3css{
    background: indianred;
}
.node4css{
    background: greenyellow;
}
#right{
    width:calc(100% - 260px);
    height:98vh;
    /*border:2px solid olivedrab;*/
    box-sizing: border-box;
}
.content{
    border-top: 1px solid #555;
}

/*#myDropDown{*/
    /*width:80px;*/
    /*height:30px;*/
    /*border:2px solid blue;*/
/*}*/
.righttop1{
    width: 100%;
    height: 80vh;
    border: 1px solid #ddd;;
}
.righttop1_topText{
    width: 100%;
    height: 3vh;
    color:black;
    background-color:#f5f5f5;
    color: #444;font-size: 14px;
    font-weight: 700;
    border: 1px solid #ddd;;
}

#main{
    width: 100%;
    height: 77vh;
     /*border: 1px solid red;*/
    margin-top: 0%;
}
.imgsize{
    width: 10%;
    height: 7vh;
}
.rightButton1{
    border: 1px solid #555;
    width: 100%;
    height: 16vh;
    margin-top: 1%;
}

.rightButton1_topText{
    width: 100%;
    height: 3vh;
    color: white;
    background-color:#5B96D7;
}
.rightButton1_lowerText{
    width: 100%;
    height: 13vh;
    /*border: 1px solid red;*/
}