.introduction{

    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    word-wrap: break-word;
}
.introduction1{

    position: absolute;
    left: 10%;
    top: 75%;
    width: 80%;
    word-wrap: break-word;
}
.data-header{
    border-color:#ddd;
    background-color:#f5f5f5;
    color:#444;
}
.process_area{
    border: 0px solid black;
    height: 25vh;
    width: 80%;
    margin-left:10%;
    margin-top: 1%;
    position: absolute;
}
.process_content{
    float: left;
    border: 0px solid black;
    height: 25vh;
    width: 26%;
    margin-left:6%;
    margin-top: 0%;
}
.process_image{
    width:25px;
    height: 25px;
    /*margin: 0 auto;*/
    display: block;

}
.process_text{
    text-align: center;
    margin-top: -7%;
    margin-left: -51%;
}
.logo1{
    position: absolute;
    border-bottom: solid #F0F2F5 2px;
    /* text-align: center; */
    font-weight:bold;
    margin-top: 9%;
    margin-left: 14%;
    width: 70%;
    height: 4%;
}
.logo2{
    position: absolute;
    border-bottom: solid #F0F2F5 2px;
    /* text-align: center; */
    font-weight:bold;
    margin-top: 25%;
    margin-left: 14%;
    width: 70%;
    height: 4%;
}
.logo_area{
    border: 0px solid black;
    height: 25vh;
    width: 80%;
    margin-left:10%;
    margin-top: 10%;
    position: absolute;
}

.logo_content{
    float: left;
    border: 0px solid black;
    height: 25vh;
    width: 20%;
    margin-left:-1%;
    margin-top: 5%;
}

.logo_image{
    width:75px;
    height: 67px;
    margin: 0 auto;
    display: block;

}

.logo_text{
    text-align: center;
    margin-top: 10%;
}

.upfile-group{
    border: 0px solid black;
    height: 30vh;
    width: 30%;
    margin-left:32%;
    margin-top: 29%;
    position: absolute;
}

.fileupload{
    position: relative;
    width: 385px;
    height: 32px;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    line-height: 35px;
    padding-left: 8px;
    overflow: hidden;
 }

.fileupload input{
    position: absolute;
    width:385px;
    height:35px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: 'alpha(opacity=0)';
}

.button_position{
    margin-top: 4%;
    position: absolute;
    right: 20%;
}
