<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.zt.mapper.dataManage.OpenTsdbDataMapper">
    <insert id="insertOpenTsdbData" parameterType="UploadData">
        insert into znfxfw.uploaddata (DeviceNumber,DeviceType,PointName,CurrentValue,Unit,ChangeTime) VALUES (#{DeviceNumber},#{DeviceType},#{PointName},#{CurrentValue},#{Unit},#{ChangeTime})
    </insert>

    <insert id="insertMysqlData" parameterType="MysqlData">
        insert into mysqldata (mysqldataname,mysqldatapath,mysqldatatime) values (#{mysqldataname},#{mysqldatapath},#{mysqldatatime})
    </insert>
</mapper>