<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>城市地下空间工程大数据分析平台-首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!--<link rel="shortcut icon" type="picture/x-icon" href="images/favicon.jpg">-->

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="/home/css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="/home/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/home/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/home/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/home/css/shortcode/responsive.css">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="/home/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="/home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start of header area -->
    <header class="header-area">
        <div class="header-top navy-bg ptb-20">

            <img src="/home/images/logo.png" style="width:190px;height:50px;margin-left:50px;">
            <href alt="" style="font-size:16px;color:#fff;margin-right:100px;float:right;margin-top:15px">注册</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px">登陆</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px;">用户手册</href>

        </div>

    </header>
    <!-- mobile-menu-area start -->

    <div class="event-area ptb-110   id = ptb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center pt-110 mb-60">
                        <h1 class="uppercase">功能组成</h1>

                        <div class="separator my mtb-15">
                            <i class="icofont icofont-hat-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="news-are">
                        <div class="news-img">
                            <img src="/home/images/8.jpg">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">业务建模</a></h3>
                            <p>业务建模工具主要包含对业务流程、业务场景、业务对象、业务数据和业务问题的定义与构建分析，帮助分析人员快速了解业务相关信息，从中找出业务痛点，分析出相关的业务问题。
                            </p>
                            <br>
                            <a class="button extra-small" href="business/index">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/9.jpg">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">数据建模</a></h3>
                            <p>数据建模工具针对地面沉降与轴线偏差业务问题分析处理数据，涵盖了从数据产生、处理、应用的整个过程，包括感知、筛选、关联、索引、调用等阶段，支持全过程可视化展示，为分析建模奠定数据基础。</p>
                            <a class="button extra-small" href="data/index">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/10.jpg">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">验证建模</a></h3>
                            <p>试验验证工具通过构建验证场景、验证数据包，对分析模型进行验证，为模型修正、优化提供参考。
                            </p>
                            <br>
                            <a class="button extra-small" href="analyse/index">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="button extra-small news-btn mt-60" href="#">
                        <!-- <span>View All News</span> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End page content -->
    <!-- Start footer area -->
    <footer class="footer-area">
        <div class="footer-top ptb-100 navy-bg">
            <h5 style="font-size: 16px;color: #fff;text-align: center;">©2019&nbsp;城市地下空间工程大数据分析平台</h5>
        </div>
    </footer>
    <!-- End footer area -->
    <!-- start scrollUp
    ============================================ -->
    <div id="toTop">
        <i class="fa fa-chevron-up"></i>
    </div>

    <!--style-customizer start -->
    <!--style-customizer end -->
</div>
<!-- Body main wrapper end -->
<!-- Placed js at the end of the document so the pages load faster -->
<!-- jquery latest version -->
<script src="/home/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap framework js -->
<script src="/home/js/bootstrap.min.js"></script>
<!--  ajax-mail.js  -->
<!--<script src="/home/js/ajax-mail.js"></script>-->
<!-- All js plugins included in this file. -->
<script src="/home/js/plugins.js"></script>
<script src="/home/js/main.js"></script>

</body>

</html>
