<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title>中铁一局</title>
    <link rel="stylesheet" th:href="@{/css/upFile.css}" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
    <script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
    <style>
        .allborder{
            /*border: 1px solid red;*/
            height: 98vh;
            width: 100%;
            background: url("../image/first.jpg") no-repeat center center fixed;
            background-size: 100%;
        }
        .projectborder{
            width: 490px;
            position: absolute;
            margin-top: 271px;
            margin-left: 39%;
        }
        .modal-bodyx{
            position: relative;
        }
        .inputsize{
            width: 63%;
        }
    </style>
</head>
<body>
<div class="container-fluid allborder" >
    <div class="modal-dialog projectborder">

        <!--<div class="logo_area">-->
            <!--<div class="logo_content" style="margin-left: 20%;" >-->
                <!--<a onclick="jumpDialog() ">-->
                    <!--<img   class="logo_image" src="/image/Newbusiness.png"/>-->
                    <!--<p class="logo_text" ><strong>新建业务模型</strong></p>-->
                <!--</a>-->
            <!--</div>-->


            <!--<div class="logo_content" style="margin-left: 20%;">-->
                <!--<a th:href="@{/business/businessManage}">-->
                    <!--<img th:href="@{/business/businessManage}" class="logo_image" src="/image/Openbusiness.png"/>-->
                    <!--<p class="logo_text" ><strong>打开业务模型</strong></p>-->
                <!--</a>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div class="logo_content" style="margin-left: 20%;">&ndash;&gt;-->
            <!--&lt;!&ndash;<a th:href="@{/businessManage}">&ndash;&gt;-->
            <!--&lt;!&ndash;<img th:href="@{/businessManage}" class="logo_image" src="image/Showbusiness.png"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="logo_text" ><strong>业务列表</strong></p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

        <div class="modal-content radius projectposition" >
             <form id="updateForm" th:method="post" th:action="@{/home}">
                 <input type="hidden" name="_method" value="put">
            <div class="modal-header">
                <h3 class="modal-title">新建工程</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>
            <div class="modal-bodyx">
                <span style="margin-left: 3%">工程名称:</span><span><input type="text" placeholder="请输入工程名称" class="input-text radius size-S inputsize" style="margin:10px 15px 10px 15px;" id="saveName" name="programmename"></span>
            </div>
            <div class="modal-bodyx">
                <span style="margin-left: 3%">问题描述:</span><span><input type="text" placeholder="请输入问题描述" class="input-text radius size-S inputsize" style="margin:10px 15px 10px 15px;" id="savequestion" name="programmedescribe"></span>
            </div>
            <div class="modal-bodyx">
               <span style="margin-left: 3%">工程类型:</span>
                <select class="input-text radius size-S inputsize" style="margin:10px 15px 10px 15px;font-size: 12px" name="programmetype">
                    <option style="font-size: 12px" name="programmetype">勘察设计</option>
                    <option style="font-size: 12px" name="programmetype">工程施工</option>
                    <option style="font-size: 12px" name="programmetype">运营维护</option>
                    <option style="font-size: 12px" name="programmetype">智慧城市</option>
                </select>
            </div>
            <div class="modal-footer">
                <input type="button" value="确定" class="btn btn-primary"  onclick="$('#updateForm').submit();">
                <!--<a data-dismiss="modal" href="/home">确定</a>-->
            </div>
             </form>
        </div>



    </div>
</div>
</body>
</html>