<!--
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>城市地下空间工程大数据分析平台-首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    &lt;!&ndash; Favicon &ndash;&gt;
    &lt;!&ndash;<link rel="shortcut icon" type="picture/x-icon" href="images/favicon.jpg">&ndash;&gt;

    &lt;!&ndash; All css files are included here. &ndash;&gt;
    &lt;!&ndash; Bootstrap fremwork main css &ndash;&gt;
    <link rel="stylesheet" href="/home/css/bootstrap.min.css">
    &lt;!&ndash; This core.css file contents all plugings css file. &ndash;&gt;
    <link rel="stylesheet" href="/home/css/core.css">
    &lt;!&ndash; Theme shortcodes/elements style &ndash;&gt;
    <link rel="stylesheet" href="/home/css/shortcode/shortcodes.css">
    &lt;!&ndash; Theme main style &ndash;&gt;
    <link rel="stylesheet" href="/home/style.css">
    &lt;!&ndash; Responsive css &ndash;&gt;
    <link rel="stylesheet" href="/home/css/shortcode/responsive.css">
    &lt;!&ndash; Style customizer (Remove these two lines please) &ndash;&gt;
    <link rel="stylesheet" href="/home/css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">

    &lt;!&ndash; Modernizr JS &ndash;&gt;
    <script src="/home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
&lt;!&ndash;[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]&ndash;&gt;
&lt;!&ndash; Body main wrapper start &ndash;&gt;
<div class="wrapper">
    &lt;!&ndash; Start of header area &ndash;&gt;
    <header class="header-area">
        <div class="header-top navy-bg ptb-20">

            <img src="/home/images/logo.png" style="width:190px;height:50px;margin-left:50px;">
            <href alt="" style="font-size:16px;color:#fff;margin-right:100px;float:right;margin-top:15px">注册</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px">登陆</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px;">用户手册</href>

        </div>

    </header>
    &lt;!&ndash; mobile-menu-area start &ndash;&gt;

    <div class="event-area ptb-110   id = ptb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center pt-110 mb-60">
                        <h1 class="uppercase">功能组成</h1>

                        <div class="separator my mtb-15">
                            <i class="icofont icofont-hat-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="news-are">
                        <div class="news-img">
                            <img src="/home/images/11.png">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">业务建模</a></h3>
                            <p>业务建模工具主要包含对业务流程、业务场景、业务对象、业务数据和业务问题的定义与构建分析，帮助分析人员快速了解业务相关信息，从中找出业务痛点，分析出相关的业务问题。
                            </p>
                            <br>
                            <a class="button extra-small" href="business/index">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/12.png">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">数据建模</a></h3>
                            <p>数据建模工具针对地面沉降与轴线偏差业务问题分析处理数据，涵盖了从数据产生、处理、应用的整个过程，包括感知、筛选、关联、索引、调用等阶段，支持全过程可视化展示，为分析建模奠定数据基础。</p>
                            <a class="button extra-small" href="data/index">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/13.png">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <h3><a href="#">分析建模</a></h3>
                            <p>分析建模工具通过使用数据建模提供的数据，构建相应的算法模型，支持分析模型构建、运行计算、结果分析和可视化展示，从而完成对地表沉降和轴线偏差业务问题的分析。
                            </p>
                            <br>
                            <a class="button extra-small" href="analyse/index">
                                <span>点击进入</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="button extra-small news-btn mt-60" href="#">
                        &lt;!&ndash; <span>View All News</span> &ndash;&gt;
                    </a>
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; End page content &ndash;&gt;
    &lt;!&ndash; Start footer area &ndash;&gt;
    <footer class="footer-area">
        <div class="footer-top ptb-100 navy-bg">
            <h5 style="font-size: 16px;color: #fff;text-align: center;">©2019&nbsp;城市地下空间工程大数据分析平台</h5>
        </div>
    </footer>
    &lt;!&ndash; End footer area &ndash;&gt;
    &lt;!&ndash; start scrollUp
    ============================================ &ndash;&gt;
    <div id="toTop">
        <i class="fa fa-chevron-up"></i>
    </div>

    &lt;!&ndash;style-customizer start &ndash;&gt;
    &lt;!&ndash;style-customizer end &ndash;&gt;
</div>
&lt;!&ndash; Body main wrapper end &ndash;&gt;
&lt;!&ndash; Placed js at the end of the document so the pages load faster &ndash;&gt;
&lt;!&ndash; jquery latest version &ndash;&gt;
<script src="/home/js/vendor/jquery-1.12.0.min.js"></script>
&lt;!&ndash; Bootstrap framework js &ndash;&gt;
<script src="/home/js/bootstrap.min.js"></script>
&lt;!&ndash;  ajax-mail.js  &ndash;&gt;
&lt;!&ndash;<script src="/home/js/ajax-mail.js"></script>&ndash;&gt;
&lt;!&ndash; All js plugins included in this file. &ndash;&gt;
<script src="/home/js/plugins.js"></script>
<script src="/home/js/main.js"></script>

</body>

</html>
-->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns no-cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="zxx" style=""><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>城市地下空间工程大数据分析平台-首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <!--<link rel="shortcut icon" type="picture/x-icon" href="images/favicon.jpg">-->

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="/home/css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="/home/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/home/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/home/style1.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/home/css/shortcode/responsive.css">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="/home/css/style-customizer.css">
    <link href="css/color/color-1.css" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="/home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Body main wrapper start -->
<div class="wrapper wide-layout">
    <!-- Start of header area -->
    <header class="header-area">
        <div class="header-top navy-bg ptb-20">

            <img src="/home/images/logo.png" style="width:190px;height:50px;margin-left:50px;">
            <href alt="" style="font-size:16px;color:#fff;margin-right:100px;float:right;margin-top:15px">注册</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px">登陆</href>
            <href alt="" style="font-size:16px;color:#fff;margin-right:80px;float:right;margin-top:15px;">用户手册</href>

        </div>

    </header>
    <!-- mobile-menu-area start -->

    <div class="event-area ptb-110   id = ptb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="/home/images/25.png"  style="margin-left: 100%;position: absolute;">
                    <div class="col-md-2 col-sm-3" style="margin-left: 42%">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/26.png"  style="width: 100%;height: 10%;">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                           <a href="#" style="margin-left: 15%;color: black;font-size:18px">服务封装</a>

                            <br>
                            <a class="button extra-small" href="http://10.101.201.173:8066" target="_blank" style="margin-left: 8%;margin-top:4%;position: absolute;">
                                <span>进入</span>
                            </a>
                        </div>
                    </div>


                    <div style="margin-top: 10%;margin-left: 18%" ><img src="/home/images/21.png"></div>
                    <div style="margin-top: -60%;margin-left: 150%"><img src="/home/images/22.png"></div>
                </div>
                    <!--<div class="section-title text-center pt-110 mb-60">
                        <h1 class="uppercase">功能组成</h1>

                        <div class="separator my mtb-15">
                            <i class="icofont icofont-hat-alt"></i>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="row" >
                <div class="col-md-2 col-sm-3" style="top: 5%">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/11.png"  style="width: 100%;height: 10%;">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <a href="#" style="margin-left: 20%;color: black;font-size:18px">算法库</a>

                            <br>
                            <a class="button extra-small" href="/algorithm/index"style="margin-left: 8%;margin-top:4%;position: absolute;">
                                <span>进入</span>
                            </a>
                        </div>
                    </div>
                </div><div style="margin-top: 10%;margin-left: 5%" ><img src="/home/images/15.png"></div><div class="col-md-2 col-sm-3" style="margin-left: 25%;margin-top: -15.3%">
                <div class="news-are">
                    <div class="news-img">
                        <img src="/home/images/12.png"  style="width: 100%;height: 10%;">
                        <div class="news-date navy-bg">
                        </div>
                    </div>
                    <div class="img-text gray-bg">
                        <a href="#" style="margin-left: 20%;color: black;font-size:18px">建模工具</a>

                        <br>
                        <a class="button extra-small" href="/returnhome"style="margin-left: 8%;margin-top:4%;position: absolute;">
                            <span>进入</span>
                        </a>
                    </div>
                </div>
            </div><div style="margin-top: -5%" ><img src="/home/images/15.png">
                <div class="col-md-2 col-sm-3"  style="margin-left: 25%;margin-top: -16%">
                    <div class="news-are mrg-xs">
                        <div class="news-img">
                            <img src="/home/images/13.png"  style="width: 100%;height: 10%;">
                            <div class="news-date navy-bg">
                            </div>
                        </div>
                        <div class="img-text gray-bg">
                            <a href="#" style="margin-left: 20%;color: black;font-size:18px">模型库</a>

                            <br>
                            <a class="button extra-small" href="/model/index"style="margin-left: 8%;margin-top:4%;position: absolute;">
                                <span>进入</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div> <div style="margin-top: 5%;margin-left: 47%" ><img src="/home/images/21.png"></div>
                <div style="margin-top: -10%;margin-left: 20%"><img src="/home/images/22.png"></div>
                <div style="margin-top: -8%;margin-left: 70%"><img src="/home/images/24.png"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="button extra-small" href="/dataManager/index"style="margin-left: 30%;margin-top:4%;position: absolute;">
                        <span>进入</span>
                    </a>
                    <img src="/home/images/23.png"  style="width: 40%;height: 5%;margin-top: -10%"  >
                    <a class="button extra-small news-btn mt-130" href="#">
                        <!-- <span>View All News</span> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End page content -->
    <!-- Start footer area -->
    <footer class="footer-area">
        <div class="footer-top ptb-100 navy-bg">
            <h5 style="font-size: 16px;color: #fff;text-align: center;">©2019&nbsp;城市地下空间工程大数据分析平台</h5>
        </div>
    </footer>
    <!-- End footer area -->
    <!-- start scrollUp
    ============================================ -->
    <div id="toTop" style="display: none;">
        <i class="fa fa-chevron-up"></i>
    </div>

    <!--style-customizer start -->
    <!--style-customizer end -->
</div>
<!-- Body main wrapper end -->
<!-- Placed js at the end of the document so the pages load faster -->
<!-- jquery latest version -->
<script src="/home/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap framework js -->
<script src="/home/js/bootstrap.min.js"></script>
<!--  ajax-mail.js  -->
<!--<script src="/home/js/ajax-mail.js"></script>-->
<!-- All js plugins included in this file. -->
<script src="/home/js/plugins.js"></script>
<script src="/home/js/main.js"></script>




</body></html>
