<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
   </head>
   <body style="height: 100%; margin: 0">
   <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>

       <div id="container" style="height: 81vh"></div>
           <script type="text/javascript">
               var dom = document.getElementById("container");
               var myChart = echarts.init(dom);
               var app = {};
               option = null;
               option = {
                   xAxis: {
                       type: 'category',
                       data: ["选线得分"]
                   },
                   yAxis: {
                       type: 'value',
                   },
                   series: [{
                       itemStyle : {
                           normal : {
                               label: {
                                   show: true,
                                   position: 'top',
                                   textStyle: {
                                       color: 'black'
                                   }
                               }
                           },
                       },
                       data: [17.08/20],
                       type: 'bar'
                   }]
               };
               if (option && typeof option === "object") {
                   myChart.setOption(option, true);
               }
       </script>
   </body>
</html>