<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xd.zt.mapper.model.ModelMapper">
    <select id="selectAllModel" resultType="Programme">
        select * from programme
    </select>

    <select id="selectAllModelByType" resultType="Programme" parameterType="String">
        select * from programme where programmetype = #{programmetype}
    </select>

    <insert id="insertProgram" parameterType="String">
    insert into programme(programmename,programmetype,programmedescribe,programmetime,username)values(#{programmename},#{programmetype},#{programmedescribe},#{programmetime},#{username})
    </insert>
    <!--根据工程id查询三大建模-->
    <select id="selectBusinessModelByProgramme" resultType="BusinessModel">
        SELECT * from business_model WHERE business_model.programmeid = #{programmeid}
    </select>
    <select id="selectDataModelByProgramme" resultType="DataModelName">
        SELECT * from datamodel_name WHERE datamodel_name.programmeid = #{programmeid}
    </select>
    <select id="selectAnalyseModelByProgramme" resultType="AnalyseModel">
        SELECT * from analyse_model WHERE analyse_model.programmeid = #{programmeid}
    </select>

    <delete id="deleteModel" parameterType="Integer">
        delete from programme where programmeid = #{programmeid}
    </delete>

    <insert id="saveProgramme" parameterType="Programme" useGeneratedKeys="true" keyProperty="id" >
        insert into programme values (null,#{programmename},#{programmetype},#{programmedescribe},null,#{programmetime},#{username},#{programmepath})
    </insert>
    <select id="selectProgrammeById" parameterType="Integer" resultType="Programme">
        select * from programme where programmeid = #{programmeid}
    </select>


    <select id="getAllList" parameterType="java.lang.String" resultType="com.xd.zt.domain.model.Programme">
     select * FROM programme WHERE programmename LIKE '%${programmename}%'
    </select>

    <select id="selectFromExperiment" parameterType="Integer" resultType="ExperimentConfig">
        select * from experiment_config where programmeid = #{programmeid}
    </select>

    <update id="updateFromExperiment" parameterType="Integer">
        update experiment_config set programmeid = null where id = #{id}
    </update>
</mapper>
