<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>模型库管理</title>
    <!-- <link rel="stylesheet" href="css/threeTwo.css" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
</head>
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>  <span class="c-gray en"></span> 模型库 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" >
    <div class="panel panel-default" style="height: 90vh">
        <div class="panel-header">工程查看
            <a href="javascript:location.replace('/model/modelList');"><input class="btn btn-success radius" type="button" style="position: absolute;right: 4%;;margin-top:  -0.3%;" value="返回"/></a>
        </div>
        <div class="panel-body">
            <div class="panel panel-default" style="width: 25%;height: 70vh;float: left;margin-top: 3%;margin-left: 5%">
                <div class="panel-header" style="text-align: center">业务模型</div>

                <a th:each="businessModelList:${businessModelList}" th:href="@{'/business/businessview/'+${businessModelList.businessid}}"><input style="display:block; margin: 20vh auto;"  class="btn btn-success radius" type="button"  th:value="${businessModelList.businessname}" th:id="${businessModelList.businessid}"  /></a>

            </div>
            <div style="height: 0vh;"><img src="/home/images/jian.png" style=" margin-left: 2%; margin-top: 37vh;"></div>
            <div class="panel panel-default" style="width: 25%;height: 70vh;float: left;margin-top: 3%;margin-left: 7%">
                <div class="panel-header" style="text-align: center">数据模型</div>
                <a th:each="datamodelNameList:${datamodelNameList}" th:href="@{'/data/modelReview/'+${datamodelNameList.modelid}}"><input style="display:block; margin: 20vh auto;" class="btn btn-success radius" type="button"   th:value="${datamodelNameList.modelname}" th:id="${datamodelNameList.modelid}" /></a>
            </div>
            <div style="height: 0vh;"><img src="/home/images/jian.png" style=" margin-left: 2%; margin-top: 37vh;"></div>
            <div class="panel panel-default" style="width: 25%;height: 70vh;float: left;margin-top: 3%;margin-left: 7%">
                <div class="panel-header" style="text-align: center">分析模型</div>
                <a th:each="analyseModelList:${analyseModelList}" th:href="@{'/analyse/analyseReview/'+ ${analyseModelList.modelid}}"><input style="display:block; margin: 20vh auto;" class="btn btn-success radius" type="button"   th:value="${analyseModelList.name}" th:id="${analyseModelList.modelid}" /></a>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:inline="javascript">

</script>
</body>
</html>

